body {
    font-family: Rubik, system-ui;
    font-size: 0.8rem;
}

.main {
    margin: auto;
    padding: 4px;
    max-width: 500px;
}

@media screen and (max-width: 480px) {
    .main {
        margin-top: 0;
    }
}

.title {
    font-size: 48px;
    border-radius: 20px;
    margin-bottom: 0;
    text-align: center;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 12px;

    color: dodgerblue;


}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

a {
    color: dodgerblue;
    padding: 2px;
    border-radius: 2px;
    font-weight: bold;

}

a:hover {
    background: lemonchiffon;

}

.chips {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px


}

.mb-6 {
    margin-bottom: 6px;
}

.chip {
    /*font-weight: bold;*/
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.proj {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e8e8e8
}

.proj:hover {
    background: yellow;
}

.proj-title {
    font-weight: bold;
    text-decoration: underline;
}

.proj-subtitle {
    color: black;
    font-style: italic;
}

summary {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

hr {
    border: 1px solid #f4f4f4;
    margin: 10px;
}

#globe {
    width: 24px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-bottom: 16px;
}

.card {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    flex-grow: 1;
    border: 1px solid dodgerblue;
}

.card-header {

    padding: 0;
    border: 0;
    align-items: baseline;
}

.card-subtitle {
    font-weight: normal;
}

.card:hover {
    background: lemonchiffon;
}

.card-header:hover {
    background: inherit;
}

.card-marked {
    background: lightyellow;
}

.card-marked:hover {
    background: lemonchiffon;
}
