<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <script type="module">
        import {createApp} from 'https://unpkg.com/petite-vue?module'

        createApp({
            qaJobs: [],
            qaJobsAreLoading: false,
            async loadQAJobs() {
                this.qaJobsAreLoading = true;
                const resp = await fetch('http://127.0.0.1:8000/qa_jobs');
                this.qaJobs = [...await resp.json()].map(job => ({...job, progress: 0}));
                this.qaJobsAreLoading = false;
            },
            qaJobsAreRunning: false,
            runQAJobs() {
                this.qaJobsAreRunning = true;
            },
        }).mount()
    </script>

</head>
<body>

<nav class="level has-background-primary">
    <div class="level-left">
        <div class="level-item">
            <div class="title p-2">local-ci</div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container" @vue:mounted="loadQAJobs">

        <div class="level">
            <div class="level-left">
                <h2 class="title">QA</h2>
            </div>
            <div class="level-right">
                <button :class="['button', 'is-primary', qaJobsAreRunning ? 'is-loading' : null]"
                        :disabled="qaJobsAreLoading || qaJobsAreRunning"
                        @click="runQAJobs">
                    Запустить
                </button>
            </div>
        </div>

        <div v-if="qaJobsAreLoading">Грузим джобы...</div>

        <div v-else class="columns">
            <template v-if="!qaJobs.length">
                <div>Нет джобс...</div>
            </template>

            <div class="column" v-for="job in qaJobs">
                <div>{{ job.name }}</div>
                <progress v-if="job.progress !== null" class="progress is-primary" :value="job.progress"
                          max="100"></progress>
                <progress v-else class="progress is-primary"></progress>
            </div>
        </div>
    </div>
</section>
</body>
</html>