{% extends '_layouts/base.html' %}

{% from '_components/form.html' import input %}

{% block main %}
    <div class="text-sm breadcrumbs not-prose ">
        <ul class="px-0">
            <li><a href="/special/where-to-eat">Рестики</a></li>
            <li>Добавление</li>
        </ul>
    </div>

    <h1 class="py-4">Добавление рестика</h1>

    <form method="POST" class="flex flex-col gap-3">
        {{ form.csrf_token }}

        {{ input(form.name) }}
        {{ input(form.score) }}
        {{ input(form.url) }}
        {{ input(form.visited) }}
        {{ input(form.location) }}
        {{ input(form.price_range) }}
        {{ input(form.tags) }}
        {{ input(form.comment) }}

        <div class="flex justify-end ">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>

{% endblock %}