# server
Flask
# md > html
mistune
# md frontmatter
python-frontmatter
# date parse
python-dateutil
# extract text from html
beautifulsoup4
# storing note index in json
tinydb
# serialization
pydantic
# yaml parse
pyyaml


# formatting
black