# server
Flask
# forms
Flask-WTF
# md > html
mistune
# md frontmatter
python-frontmatter
# date parse
python-dateutil
# extract text from html
beautifulsoup4
# storing note index in json
tinydb
# serialization
pydantic
# yaml parse
pyyaml
# google sheets
gspread
# xml (sitemap) creation
xmltodict
# ascii tables
tabulate
# .env
python-dotenv
# http requests
requests
# trading
tinkoff-investments
tradingview-ta
# tg
python-telegram-bot
# utils
more-itertools

# (опц.) удаление бекграунда
# rembg

# formatting
black

git+https://github.com/potykion/pytubefix.git
