{% extends "_layouts/base.html" %}

{% block main %}

    <h1>Ярик</h1>
    <cite>Пиво, церкви и Buldak</cite>

    <p>
        Приехали на вокз за час до поезда.
        Это было ошибкой, и этот час тупа ебланили
    </p>
    <p>
        4 часа в плацкарте прошли довольно быстро. Плацкарт - классический, каким был лет 20 назад: скуфики и скуфихи
        всех мастей, торчащие с полок ноги, кипяточек из
        краника. На обед решили взять, что и подобается есть в плацкарте, - лапшу быстрого пришло.
        Да не простую, а рамён Samyang Buldak со вкусом карбонары, и это вкусно пиздец, но и остро пиздец, соус выглядел
        как
        кровь
    </p>

    <p>
        Оффтоп
        Рамён Buldak популярен из-за своей остроты, так в карбонаре 2.6k SHU, что уже очень остро, в оригинале 4.4k SHU,
        а
        есть ещё и адская версия где 8-10k SHU
        А ещё есть сайт, посвящённый обзорам на рамёны, где почти 5к отзывов на лапшу - ебать прикол, ебать чел на своем
        месте, вот это лайф гоалс
        https://www.theramenrater.com/2018/01/08/2680-carbo-buldak-bokkeummyun/
    </p>

{% endblock %}
