---
const {title} = Astro.props;
import "../styles/global.css";

const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>

<div class="flex justify-center py-2">
    <div>
        {currentPath !== "/" && 
            <a href="/" class="btn btn-sm lg:btn-base btn-link no-underline">∅</a>
        }
    </div>
</div>

<article class="prose lg:prose-base mx-auto max-w-screen-lg lg:px-4 px-3">

    <slot/>
</article>
</body>
</html>

<style>

</style>
