{% extends "_layouts/base.html" %}
{% from "_components/link_and_section.html" import link %}

{% macro list_books(books) %}
    <div class="link-list gap-2">
        {% for book in books %}
            {{ link(book.url, book.title_w_author, book.desc, cls='border rounded-lg border-neutral ' + ('line-through' if book.status == 'drop' else '')) }}
        {% endfor %}
    </div>
{% endmacro %}

{% block main %}

    <h2 >Сейчас читаю</h2>
    {{ list_books(wip_books) }}

    <h2>Стата 2024</h2>
    {{ list_books(done_books) }}

    <h2>Почитать позже</h2>
    {{ list_books(wishlist_books) }}

{% endblock %}
