<!-- https://keep-board.website.yandexcloud.net/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KeepBoard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        .note-font-size {
            font-size: .75rem;
        }

        .btn-small-mobile {
            font-size: 1em;
        }

        @media screen and (min-width: 1500px) {
            .note-font-size {
                font-size: 1em;
            }


        }

        @media screen and (max-width: 768px) {
            .btn-small-mobile {
                font-size: .75rem;
            }
        }


    </style>
</head>
<body>

<nav class="navbar has-background-warning is-flex" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
        <div class="navbar-item">
            <div class="is-size-4 is-size-6-mobile has-text-weight-bold">KeepBoard</div>
        </div>
    </div>

    <div class="navbar-menu is-active is-flex has-background-warning is-flex-grow-1 is-justify-content-space-between is-shadowless is-align-items-center">
        <div class="navbar-start">
            <div class="navbar-item">
                <div class="buttons">
                    <button :class="['button', 'btn-small-mobile', 'is-warning', mode === 'daily' ? 'has-text-weight-bold' : '']"
                            @click="setMode('daily')">
                        Дни
                    </button>
                    <button :class="['button', 'btn-small-mobile', 'is-warning', mode === 'weekly' ? 'has-text-weight-bold' : '']"
                            @click="setMode('weekly')">
                        Недели
                    </button>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button is-warning " @click="loadNotes(true)" :disabled="loading">
                        {{ loading ? '⏳' : '↻' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="pt-4">
    <div class="container is-fluid" @vue:mounted="mounted">
        <div v-if="loading">Грузим...</div>
        <div v-else class="columns is-variable is-1">
            <button class="button is-white" @click="shiftGroups(-1)">
                ◀ <span class="is-hidden-tablet">&nbsp; Туда</span>
            </button>
            <div class="column" v-for="(notes, group) in groupedNotes()">
                <div class="block has-text-centered" v-html="group"></div>

                <template v-for="note in notes">
                    <div class="card">
                        <div class="card-image" v-if="note.image">
                            <figure class="image is-4by3">
                                <img :src="note.image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="note-font-size" style="white-space: pre-line" v-html="note.text"></div>
                        </div>
                        <footer class="card-footer">
                            <button class="button is-white card-footer-item note-font-size"
                                    @click="openEditNoteModal(note)">✏️
                            </button>
                            <a :href="note.url" target="_blank" class="button is-white card-footer-item note-font-size">🔗</a>
                        </footer>
                    </div>

                </template>

            </div>
            <button class="button is-white" @click="shiftGroups(1)">
                <span class="is-hidden-tablet">Сюда &nbsp;</span>▶
            </button>
        </div>
    </div>
</section>


<div class="modal" id="edit-note-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            WIP
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button">Cancel</button>
        </footer>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/isBetween.js"></script>

<script type="module">
    import {createApp} from 'https://unpkg.com/petite-vue?module'
    import {groupBy, zip} from "./utils.js";
    import {Note} from "./notes.js";
    import {shiftMonth, getMonthWeeks, getWeekDays, shiftWeek, formatDateRange} from "./date.js";

    dayjs.extend(window.dayjs_plugin_isBetween);

    const closeModal = () => document.getElementById('edit-note-modal').classList.remove('is-active');
    const openModal = () => document.getElementById('edit-note-modal').classList.add('is-active');

    document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button')
        .forEach(($close) => $close.addEventListener('click', () => closeModal()));
    document.addEventListener('keydown', (event) => {
        if ((event || window.event).keyCode === 27) closeModal();
    });

    createApp({
        loading: false,

        mounted() {
            this.loadNotes();
        },

        // daily, weekly
        mode: 'daily',
        setMode(mode) {
            this.mode = mode;

            if (this.mode === 'daily') {
                this.groups = getWeekDays();
            } else if (this.mode === 'weekly') {
                this.groups = getMonthWeeks();
            }

            this.loadNotes();
        },

        groups: getWeekDays(),
        shiftGroups(by = 1) {
            if (this.mode === 'daily') {
                let today = this.groups[0];
                this.groups = shiftWeek(by, dayjs(today));
            } else {
                let today = this.groups[0].split(' - ')[1];
                this.groups = shiftMonth(by, dayjs(today));
            }
        },

        /** @type {Note[]} */
        notes: [],
        selectedNote: null,
        setNotes(notes) {
            this.notes = notes;
        },
        async loadNotes(reset = false) {
            this.loading = true;
            try {
                this.setNotes(
                    Note.loadFromCache(this.mode, reset) ??
                    (await Note.loadFromBack(this.mode))
                );
            } finally {
                this.loading = false;
            }
        },
        groupedNotes() {
            // {weekday: notes}
            if (this.mode === 'daily') {
                const weekdays = ['ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'];
                const dailyNotes_ = groupBy(this.notes, 'created');
                return zip(
                    this.groups.map((wd, index) => `<b>${weekdays[index]}</b><br /><span class="content is-small">${wd}</span>`),
                    this.groups.map(wd => dailyNotes_[wd] ?? []),
                );
            }
            if (this.mode === 'weekly') {
                const weeklyNotes = groupBy(this.notes, (note) => formatDateRange(getWeekDays(note.created)))
                return zip(
                    this.groups.map((week, index) => `<b>Неделя ${index + 1}</b><br /><span class="content is-small">${week}</span> `),
                    this.groups.map(week => weeklyNotes[week] ?? []),
                );
            }
        },

        openEditNoteModal(note) {
            this.selectedNote = note;
            openModal();
        },
    }).mount();
</script>

</body>
</html>