<!-- https://keep-board.website.yandexcloud.net/ -->
<!DOCTYPE html>
<html lang="en" xmlns:>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KeepBoard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        .note-font-size {
            font-size: .75rem;
        }

        @media screen and (min-width: 1500px) {
            .note-font-size {
                font-size: 1em;
            }
        }
    </style>
</head>
<body>

<nav class="navbar has-background-warning" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
        <div class="navbar-item">
            <div class="is-size-4">
                <b>KeepBoard</b>
            </div>
        </div>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <div class="buttons">
                    <button :class="['button', 'is-warning', mode === 'daily' ? 'has-text-weight-bold' : '']"
                            @click="setMode('daily')">
                        По дням
                    </button>
                    <button :class="['button', 'is-warning', mode === 'weekly' ? 'has-text-weight-bold' : '']"
                            @click="setMode('weekly')">
                        По неделям
                    </button>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button is-warning " @click="loadNotes(true)" :disabled="loading">
                        {{ loading ? 'Грузим...' : '↻' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="pt-4">
    <div class="container is-fluid" @vue:mounted="loadNotes">
        <div class="columns">
            <button class="button is-white" @click="prevGroup">◀</button>
            <div class="column" v-for="(notes, group) in groupedNotes()">
                <div class="block has-text-centered" v-html="group"></div>

                <template v-for="note in notes">
                    <a :href="note.url">
                        <div class="block box note-font-size "
                             style="white-space: pre-line"
                             v-html="note.text"></div>
                    </a>
                </template>

            </div>
            <button class="button is-white" @click="nextGroup">▶</button>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/isBetween.js"></script>

<script type="module">
    import {createApp} from 'https://unpkg.com/petite-vue?module'


    dayjs.extend(window.dayjs_plugin_isBetween)

    const apply = (obj, keyOrFunc) => typeof keyOrFunc === 'string'
        ? obj[keyOrFunc]
        : keyOrFunc(obj);
    const groupBy = (items, keyOrFunc) => items.reduce(
        (res, obj) => ({
            ...res,
            [apply(obj, keyOrFunc)]: [...(res[apply(obj, keyOrFunc)] ?? []), obj]
        }),
        {},
    );
    const zip = (keys, values) => {
        let obj = {};
        keys.forEach((key, index) => obj[key] = values[index]);
        return obj;
    }

    /**
     * По дню генерирует массив дней недели
     */
    const weekDays = (today = null) => {
        today = dayjs(today ?? dayjs());
        const weekStart = today.add(-((today.day() + 6) % 7), 'd');
        return [...Array(7).keys()].map(i => weekStart.add(i, 'd').format('YYYY-MM-DD'));
    };
    const formatDateRange = dateRange => `${dateRange[0]} - ${dateRange[dateRange.length - 1]}`;
    /**
     * Двигает массив дней недели на неделю вперед или назад
     */
    const shiftWeek = (weeks = 1, today = null) => weekDays((today ?? dayjs()).add(weeks, 'w'))

    createApp({
        loading: false,

        // [{title, text, created}]
        notes: [],

        // daily, weekly
        mode: 'daily',
        setMode(mode) {
            this.mode = mode;

            if (this.mode === 'daily') {
                this.groups = weekDays();
            } else if (this.mode === 'weekly') {
                const todayWeek = weekDays();
                const weekStart = dayjs(todayWeek[0]);
                const monthStart = weekStart.startOf('M');
                const monthEnd = weekStart.endOf('M');

                let groups = [];
                let curWeek = weekDays(monthStart);
                while (true) {
                    groups.push(formatDateRange(curWeek));
                    curWeek = weekDays(dayjs(curWeek[0]).add(1, 'w'));
                    if (monthEnd.isBetween(curWeek[0], curWeek[curWeek.length - 1])) {
                        groups.push(formatDateRange(curWeek));
                        break
                    }
                }

                this.groups = groups;
            }

            this.loadNotes();
        },

        async loadNotes(reset = false) {
            this.loading = true;
            try {
                const cachedNotes = JSON.parse(localStorage.getItem(`${this.mode}_notes`));
                if (cachedNotes && !reset) {
                    this.notes = cachedNotes;
                } else {
                    const res = await fetch(`https://functions.yandexcloud.net/d4evmq3b5u0kmmehthvf?mode=${this.mode}`)
                    this.notes = await res.json();
                    localStorage.setItem(`${this.mode}_notes`, JSON.stringify(this.notes));
                }
            } finally {
                this.loading = false;
            }
        },

        weekdays: ['ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'],

        groups: weekDays(),
        groupedNotes() {
            // {weekday: notes}
            if (this.mode === 'daily') {
                const dailyNotes_ = groupBy(this.notes, 'created');
                return zip(
                    this.groups.map((wd, index) => `<b>${this.weekdays[index]}</b><br /><span class="content is-small">${wd}</span>`),
                    this.groups.map(wd => dailyNotes_[wd] ?? []),
                );
            }
            if (this.mode === 'weekly') {
                const weeklyNotes = groupBy(this.notes, (note) => formatDateRange(weekDays(note.created)))
                return zip(
                    this.groups.map((week, index) => `<b>Неделя ${index + 1}</b><br /><span class="content is-small">${week}</span> `),
                    this.groups.map(week => weeklyNotes[week] ?? []),
                );

            }
        },
        prevGroup() {
            this.groups = shiftWeek(-1, dayjs(this.groups[0]));
        },
        nextGroup() {
            this.groups = shiftWeek(1, dayjs(this.groups[0]));
        },
    }).mount();
</script>

</body>
</html>