<!-- https://keep-board.website.yandexcloud.net/ -->
<!DOCTYPE html>
<html lang="en" xmlns:>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KeepBoard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        .note-font-size {
            font-size: .75rem;
        }

        @media screen and (min-width: 1500px) {
            .note-font-size {
                font-size: 1em;
            }
        }
    </style>
</head>
<body>

<nav class="navbar has-background-warning" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
        <div class="navbar-item">
            <div class="is-size-4">
                <b>KeepBoard</b>
            </div>
        </div>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button is-white" @click="loadNotes(true)">
                        ↻ Обновить заметки
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container is-fluid" @vue:mounted="loadNotes">
        <div class="columns ">
            <button class="button is-white" @click="previousWeek">◀</button>
            <div class="column" v-for="(notes, date) in dailyNotes()">
                <div class="block" v-html="date"></div>
                <div class="block box note-font-size " style="white-space: pre-line" v-for="note in notes"
                     v-html="note.text"></div>
            </div>
            <button class="button is-white" @click="nextWeek">▶</button>

        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script type="module">
    import {createApp} from 'https://unpkg.com/petite-vue?module'

    const groupBy = (xs, key) => xs.reduce(function (rv, x) {
        (rv[x[key]] = rv[x[key]] || []).push(x);
        return rv;
    }, {});

    const weekDays = (today = null) => {
        today = today ?? dayjs();
        const weekStart = today.add(-((today.day() + 6) % 7), 'd');
        return [...Array(7).keys()].map(i => weekStart.add(i, 'd').format('YYYY-MM-DD'));
    };
    const shiftWeek = (weeks = 1, today = null) => {
        return weekDays(
            (today ?? dayjs())
                .add(7 * weeks, 'd')
        );
    }

    createApp({
        weekdays: ['ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'],
        // [{title, text, created}]
        notes: [],
        dateRange: weekDays(),
        // {weekday: notes}
        dailyNotes() {
            const dailyNotes_ = groupBy(this.notes, 'created');
            return Object.fromEntries(
                this.dateRange.map((wd, index) => [
                    `<b>${this.weekdays[index]}</b> ${wd}`,
                    dailyNotes_[wd] ?? [],
                ]),
            );
        },
        formatDateRange() {
            return `${this.dateRange[0]} - ${this.dateRange[this.dateRange.length - 1]}`;
        },
        previousWeek() {
            this.dateRange = shiftWeek(-1, dayjs(this.dateRange[0]));
        },
        nextWeek() {
            this.dateRange = shiftWeek(1, dayjs(this.dateRange[0]));
        },
        async loadNotes(reset = false) {
            const cachedNotes = JSON.parse(localStorage.getItem('notes'));
            if (cachedNotes && !reset) {
                this.notes = cachedNotes;
            } else {
                const res = await fetch('https://functions.yandexcloud.net/d4evmq3b5u0kmmehthvf')
                this.notes = await res.json();
                localStorage.setItem('notes', JSON.stringify(this.notes));
            }
        },
    }).mount();
</script>

</body>
</html>