{% extends 'templates/base.html' %}


{% set title = 'Вишлист' %}
{% set desc = 'Все что меня заинтересовало, но руки еще не дошли' %}


{% block main %}

    <h2>Пиво</h2>

    <div class="flex flex-wrap gap-2 mb-4">
        {% for store, store_label in stores %}
            <button class="btn btn-sm beer-store-filter" data-store="{{ store }}">{{ store_label }}</button>
        {% endfor %}
    </div>

    <div class="flex flex-wrap items-baseline gap-[2px]">

        {% for beer in beers %}
            <button class="beer" data-store="{{ beer.stores | join(' ') }}" title="{{ beer.title }}"

                    onclick="modal_beer_{{ beer.id }}.showModal()"
            ><img class="w-[50px] hover:border-blue-700 border-white border-2 "
                  src="{{ url_for('static', filename=beer.img) }}"></button>


            <dialog id="modal_beer_{{ beer.id }}" class="modal">
                <div class="modal-box max-w-screen-lg relative">
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>

                    <div class="flex ">
                        <div class="w-64 h-64 flex justify-center">
                            <img class="h-full w-auto" src="{{ url_for('static', filename=beer.img) }}">
                        </div>
                        <div>


                            <h3>{{ beer.title }}</h3>

                            <div class="flex flex-wrap gap-2">
                                <a target="_blank"
                                   class="btn btn-sm btn-warning"
                                   href="{{ beer.untappd_url }}">Untappd</a>
                                {% for price in beer.last_prices %}
                                    <a target="_blank"
                                       class="btn btn-sm " href="{{ price.url }}">{{ price.store_label }}
                                        - {{ price.price }} ₽</a>

                                {% endfor %}
                            </div>
                        </div>

                    </div>


                    <div class="modal-action ">
                        <form method="dialog">
                            <button class="btn btn-sm">Закрыть</button>
                        </form>
                    </div>

                </div>
            </dialog>
        {% endfor %}


    </div>


    <div class="collapse collapse-arrow bg-neutral-50 my-4">
        <input type="checkbox"/>
        <div class="collapse-title text-xl font-medium flex items-center space-x-2  ">
            <span>Credits</span>
        </div>
        <div class="collapse-content">
            <h3>Качественные картинки пива</h3>
            <ul>
                <li>
                    <a href="https://www.lauterbacher.de/">https://www.lauterbacher.de/</a>
                </li>
                <li>
                    <a href="https://merchantduvin.com/">https://merchantduvin.com/</a>
                </li>
                <li>
                    <a href="https://schneider-weisse.de/">https://schneider-weisse.de/</a>

                </li>
                <li>
                    <a href="https://kurpfalzbraeu.de/">https://kurpfalzbraeu.de/</a>

                </li>
                <li>
                    <a href="https://www.belgianbeerfactory.com/">https://www.belgianbeerfactory.com/</a>

                </li>
                <li>
                    <a href="https://bishopscellar.com/">https://bishopscellar.com/</a>

                </li>
            </ul>
        </div>
    </div>


{% endblock %}

{% block script %}
    <script>

        document.querySelectorAll('.beer-store-filter').forEach(function (btn) {
            btn.addEventListener('click', function () {

                let activeClass = 'btn-outline';



                const store = this.getAttribute('data-store');
                const isActive = this.classList.contains(activeClass);

                // Reset all beers to visible
                document.querySelectorAll('.beer').forEach(function (beer) {
                    beer.style.display = 'block';
                });

                // If the button is already active, reset the filter
                if (isActive) {
                    this.classList.remove(activeClass);
                } else {
                    // Apply the filter by hiding beers not matching the store
                    document.querySelectorAll('.beer').forEach(function (beer) {
                        const beerStores = beer.getAttribute('data-store').split(' ');
                        if (!beerStores.includes(store)) {
                            beer.style.display = 'none';
                        }
                    });
                    // Mark the button as active
                    this.classList.add(activeClass);
                }
            });
        });

    </script>
{% endblock %}