{% extends "templates/feed/feed_base.html" %}
{% set title = 'Домашняя' %}
{% set desc = 'блог по настроению • свалка мыслей, пет проджекты, обзоры на всё и вся • v4' %}

{% from 'templates/feed/feed_card.html' import feed_card %}

{% block main %}

    {{ super() }}

    <cite>boomer special edition</cite>

    <div class="hidden text-white dark:block ">
        брах, пока без темной темы
    </div>

    <div class="grid md:grid-cols-3 gap-2">
        {{ feed_card(category='Мысли', desc='Интересные ощущения - жить у тещи. Всего один вечер, а уже ощущение, что приехал на лето к бабушке: ешь что дают, душ принимаешь, не понимая где что, комната своя (а не хата) - ох, реал как в детстве, эх вот бы ещё в компьютер играть сколько захочу, да книжки читать. Ещё наконец-то можно меньше о еде думать, вот сегодня кашу на завтрак поел - а до этого спал - ну точно как в детстве') }}
        {{ feed_card(category='Событие дня', row_span=4, title='Первое апреля', desc='Первого апреля ВКшные паблики традиционно прикалывются и резко меняют тематику канала, напр. как-то раз паблик про райана гослинга переименовался в мешапы про моргенштерна; в этом году паблик про тони-лайф, а также паблик мешап переименовались в сообщество любителей рыбалки', video=url_for('static', filename='video/april-fools.mp4') ) }}
        {{ feed_card(category='Альбум дня', row_span=2, title='SKORO BRO VOL. 2', desc='Электро-панки собрались и сделали его грейт эгейн, все по заветам локед клаба, жёсткая долбёжка под мемные сэмплы, а какой трек вступительный прекрасный -  так и называется рады тебя видеть, заходи-послушай)) первая часть бтв тоже хороша', audio=url_for('static', filename="audio/IZOV I'm Very Happy To See You.mp3"), image=url_for('static', filename='images/mu/skoro-bro-vol-2.jpg'))  }}

        {{ feed_card(category='Как здоровье?', desc='Ну чё пацаны годки идут, пора и такие рубрики вводить)) Сегодня ощущение что начало цвести и я стал алергиком: глазки красные, из носу течет, чихаю целыми днями. И вроде в прошлом году такого не было, а вот два года назад, когда всякие свошки начались и вторая работка была - тогда вообще сочилось все конкретно - может аллергия из-за стресса?') }}
        {{ feed_card(category='Про еду', row_span=2,  title='Шмак', desc='Ахуеть Шмаков - шеф из Саввы, а это илитарнейший рестик при гостинице Метрополь, открыл свой фастфуд. (Жесть ты прикинь меня интересуют сегодня не какие-то кадры из нижнего интернета, а повора, стал фудиком получается)', youtube='https://youtu.be/s5yRZGZzo2g?si=ms93gawT5obVm6op') }}
        {{ feed_card(category='Рабочий момент', desc='Ну а пока я полностью начинаю работать из офиса, надеюсь будет лютый буст продуктивности, да и вообще меньше гниения дома, больше движа, переезд к лучшему получается. С утра так и получилось - полностью закрыл вторую работу к 11, теперь пару часов на первой, и быстро-мощно-решительно делаю фид за 2 дня, дай бог это не эффект понедельника, и такой тема будет всю неделю') }}


    </div>
{% endblock %}