{% extends "templates/feed/feed_base.html" %}
{% set title = 'Домашняя' %}
{% set desc = 'блог по настроению • свалка мыслей, пет проджекты, обзоры на всё и вся • v4' %}


{% block main %}

    <div class="flex justify-between mb-2">
        <a href="/feed/2024-03-29" class="btn btn-square btn-ghost btn-sm md:btn-md">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
            </svg>
        </a>
        <div class="btn btn-ghost btn-sm md:btn-md">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"/>

            </svg>

            {{ feed_date or today_date }}

        </div>
        <button class="invisible btn btn-square btn-ghost btn-sm md:btn-md">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
            </svg>
        </button>
    </div>

    <div class="hidden text-white dark:block ">
        брах, пока без темной темы
    </div>

    <div class="grid md:grid-cols-3 gap-2">


        <div class="rounded-xl shadow  border-neutral border flex-col flex row-span-1 text-neutral ">
            <div class="font-semibold text-center border-b border-neutral">Мысли</div>
            <div class="p-2 text-sm">
                Хм, да, телефон сильно упрощает формирование фида: тупа пришла мысля - записал, и потом просто решаешь
                включать в фид иди нет

            </div>
        </div>

        <div class="rounded-xl shadow  border-neutral border flex-col flex row-span-3 text-neutral">
            <div class="font-semibold text-center  ">Музыкальная новиночка</div>
            <img class="rounded-none border-y border-neutral"
                 src="{{ url_for('static', filename='images/mu/biicla-hyper-house.jpg') }}">
            <div class="flex flex-col justify-center grow">
                <div class="font-semibold text-center border-neutral border-b ">Biicla — HYPER HOUSE</div>
                <audio controls class="w-full"
                       src="{{ url_for('static', filename='audio/Biicla GAS (4.19).mp3') }}"></audio>
            </div>
            <div class=" text-sm font-normal p-2 border-t border-neutral">
                Новиночка от Biicla - молодой наш пацан делает музон в британском стиле: хаусец, техно, бейслайн -
                хорош, ну и без вдохновления от фред эгейна не обошлось
            </div>

        </div>
        <a href="{{ beer.untappd_url }}"
           class="no-underline border-neutral border hover:bg-neutral-50 rounded-xl row-span-2    shadow ">

            <div class="font-semibold text-center  border-neutral  ">Рекомендую пивас</div>
            <div class="border-y border-neutral flex justify-center">
                <img class="w-20 p-2 "
                     src="{{ url_for('static', filename=beer.img) }}">
            </div>
            <div class="font-semibold text-center border-b border-neutral ">{{ beer.title }}
            </div>


            <div class=" text-sm font-normal p-2">{{ beer.review }}
            </div>
        </a>

        <a href=""
           class="no-underline border-neutral border hover:bg-neutral-50 rounded-xl row-span-3 shadow ">

            <div class="font-semibold text-center border-b border-neutral ">Еда дня</div>
            <img class="p-2"
                 src="{{ url_for('static', filename='images/food/udon.png') }}">
            <div class="font-semibold text-center border-y border-neutral ">
                Udon Noodle Bar — Лапша удон с мраморной говядиной и говяжьим бульоном
            </div>
            <div class=" text-sm font-normal p-2">
                Попробовали новую хайповую лапшичку из Краснодара - не зря хвалят, добротная: крепкий бульон, хорошая
                лапша, вкусная говяжка - зачет
            </div>
        </a>

        <a href="{{ tech_tool.url }}"
           class="rounded-xl shadow no-underline  border-neutral border flex-col flex row-span-1 text-neutral ">
            <div class="font-semibold text-center  border-neutral border-b ">Тулза дня</div>
            <img class="p-4"
                 src="{{ url_for('static', filename=tech_tool.img) }}">
            <div class="font-semibold text-center border-y border-neutral ">
                {{ tech_tool.title }}
            </div>

            <div class=" text-sm font-normal p-2">
                {{ tech_tool.desc }}
            </div>
        </a>

        <a href="https://www.tinkoff.ru/invest/help/situation/844/"
           class="rounded-xl shadow  border-neutral border flex-col no-underline hover:bg-neutral-50 flex row-span-2 text-neutral ">
            <div class="font-semibold text-center  border-neutral border-b ">Тех контент</div>

            <div class=" text-sm font-normal p-4">
                Самый большой тех прорыв на работе соу фар - мониторинг и возможность расследовать инциденты. Гугл
                облако все ещё ебет и не знаю давно ли, но логи можно обрабатывать с помощью big query SQL. А в логи-то
                можно всю ценную информацию сложить, а это по сути просто строки с метадатой. И таким образом делая пару
                простых запросов с использованием строковых функций, груп бай и ордер бай, можно находить узкие места:
                каких запросов больше всего, что пожирает больше ресурсов - кайф короче, приятное ощущение контроля
            </div>
        </a>


        <div class="rounded-xl shadow  border-neutral border flex-col flex row-span-2 text-neutral ">
            <div class="font-semibold text-center  border-neutral border-b ">Рабочий момент</div>
            <div class=" text-sm font-normal p-4">
                Ох, пятница - день тяжёлый: и плавание все силы забирает, и рабочий день начинается позже - гораздо
                больше хотел успеть, но не судьба, надо с ЖЕНОЙ идти кушать. С другой стороны, главные/важные дела, типа
                блога, сделал - может так и надо свое время тратить? Задвигать что не важно до самого конца, а что важно
                - кровь из носу должно быть сделано
            </div>
        </div>





    </div>








{% endblock %}