@import "../../node_modules/bulma/css/bulma.css";

.note-font-size {
    font-size: .75rem;
}

.btn-small-mobile {
    font-size: 1em;
}

@media screen and (min-width: 1500px) {
    .note-font-size {
        font-size: 1em;
    }


}

@media screen and (max-width: 768px) {
    .btn-small-mobile {
        font-size: .75rem;
    }
}

