---
import Layout from "../../layouts/Layout.astro";
import IndexLink from "../../components/IndexLink.astro";
---

<Layout title="travel">
    <h1 class="text-center text-balance !mt-[40vh]">
        тревел
    </h1>

    <div class="flex  flex-col gap-2">
        <IndexLink href="/travel/ekb-2025">ekb-2025</IndexLink>
        <IndexLink href="/travel/bugtown-2025">bugtown-2025</IndexLink>
        <IndexLink href="/travel/rocket-city-2025">rocket-city-2025</IndexLink>
    </div>

    <h2>Plans</h2>

    <div class="flex  flex-col gap-2">
        kalik
    </div>

</Layout>