{% extends 'templates/base.html' %}
{% set title = 'Стата' %}

{% block static %}
    <style>

        .beers {
            display: grid;
            grid-template-columns: repeat(9, minmax(0, 1fr));
            gap: 5px;
        }

        .movies {
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            gap: 5px;
        }


        .games {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 15px;
        }


        @media (max-width: 1024px) {

            .movies {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }

            .games {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            .beers {
                grid-template-columns: repeat(5, minmax(0, 1fr));
            }
        }

        a.game {
            display: flex;
            text-decoration: none;
            position: relative;
        }


        .golden {
            border-radius: 8px;
            animation: shine 1.5s linear infinite;
        }

        @keyframes shine {
            0% {
                box-shadow: 0 0 4px rgba(255, 215, 0, 0.8), /* Smaller inner glow */ 0 0 8px rgba(255, 193, 2, 0.7),
                0 0 12px rgba(255, 172, 4, 0.6),
                0 0 16px rgba(255, 151, 6, 0.5);
            }
            50% {
                box-shadow: 0 0 8px rgba(255, 215, 0, 0.8),
                0 0 16px rgba(255, 193, 2, 0.7),
                0 0 24px rgba(255, 172, 4, 0.6),
                0 0 32px rgba(255, 151, 6, 0.5);
            }
            100% {
                box-shadow: 0 0 4px rgba(255, 215, 0, 0.8),
                0 0 8px rgba(255, 193, 2, 0.7),
                0 0 12px rgba(255, 172, 4, 0.6),
                0 0 16px rgba(255, 151, 6, 0.5);
            }
        }

        button.game {
            display: flex;
            padding: 0;
            background: none;
            border-color: transparent;
            text-align: left;
            cursor: pointer;
        }

        button.game:hover {
            border-color: black;
            border-radius: 8px;

        }

        .bordered {
            border-color: black !important;
            border-radius: 8px;
        }

    </style>
{% endblock %}

{% set title = 'Стата 2024' %}
{% set desc = 'Что пил, что смотрел, что читал, во что играл, что слушал в 2024 г.' %}

{% from "templates/components/icons.html" import bookmate %}

{% macro tags(tag_list, floating=True) %}
    <div style="{% if floating %}position: absolute; left: 5px; bottom: -10px;  display: flex; gap: 5px{% endif %}">
        {% for tag in tag_list %}
            <small style="padding: 2px 4px; background: cornflowerblue; color: white; border-radius: 6px">
                {{ tag }}
            </small>
        {% endfor %}
    </div>
{% endmacro %}

{% block main %}


    <div class="flex flex-col gap-4">

        <div>
            <h2>Книги</h2>
            <div class="grid grid-cols-4 md:grid-cols-8 gap-2">
                {% for book in books %}
                    <button class=" hover:border-4 rounded-lg border-primary relative "
                            onclick="modal_{{ book.id }}.showModal()">
                        <img class="h-full {% if book.drop %}opacity-25{% endif %} {% if book.wip %}opacity-75{% endif %} "
                             src="{{ book.img }}">
                        {% if book.done %}
                            <span class="absolute bottom-1 p-1 text-sm  left-1 bg-green-100 rounded-lg">✅ Прочитано</span>
                        {% endif %}
                        {% if book.drop %}
                            <span class="absolute bottom-1 p-1 text-sm  left-1 bg-red-100 rounded-lg">❌ Дроп</span>
                        {% endif %}
                        {% if book.wip %}
                            <span class="absolute bottom-1 p-1 text-sm  left-1 bg-amber-100 rounded-lg">🚧 WIP</span>
                        {% endif %}
                    </button>

                    <dialog id="modal_{{ book.id }}" class="modal">
                        <div class="modal-box max-w-screen-lg relative">
                            <form method="dialog">
                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                            </form>

                            <h3>{{ book.full_title }}</h3>
                            <a href="{{ book.url }}" target="_blank" class="btn btn-sm ">{{ bookmate() }} Букмейт</a>

                            {{ book.review_html | safe }}


                            <div class="modal-action ">
                                <form method="dialog">
                                    <button class="btn">Закрыть</button>
                                </form>
                            </div>

                        </div>
                    </dialog>
                {% endfor %}
            </div>
        </div>


        <div>

            <h2>Кино и сериалы</h2>
            <div class="grid grid-cols-4 md:grid-cols-10 gap-1">
                {% for movie in movies %}
                    <a target="_blank" href="{{ movie.kp_url }}" class="blue-border-hover-link">
                        <img src="{{ url_for('static', filename=movie.poster) }}">
                    </a>
                {% endfor %}
            </div>
        </div>


        <div>
            <h2>Игры</h2>
            <div class="grid grid-cols-2 md:grid-cols-5 gap-1">
                {% for game in games %}
                    <button onclick="modal_game_{{ game.id }}.showModal()" class="blue-border-hover-link">
                        <img class="game-img"
                             src="{{ url_for('static', filename=game.img) }}">


                    </button>

                    <dialog id="modal_game_{{ game.id }}" class="modal">
                        <div class="modal-box max-w-screen-lg">
                            <h3>{{ game.title }}</h3>

                            <div class="flex flex-wrap gap-1 items-center">

                                <span class="text-sm text-gray-500">{{ game.genre }}</span>
                                <span class="text-gray-300">•</span>

                                <a href="{{ game.steam }}" target="_blank" class="text-sm">
                                    Steam
                                </a>

                            </div>

                            <div class="text-md">
                                {{ game.review | render_md | safe }}
                            </div>


                            <div class="modal-action ">
                                <form method="dialog">
                                    <button class="btn">Закрыть</button>
                                </form>
                            </div>

                        </div>
                    </dialog>
                {% endfor %}
            </div>
        </div>
        <div>
            <h2>
                Музыка
            </h2>
            <div class="grid grid-cols-4 md:grid-cols-6 gap-3">

                {% for album in albums %}
                    <button class="relative hover:border-4 rounded-lg border-primary"
                            onclick="modal_album_{{ album.id }}.showModal()">
                        <img src="{{ url_for('static', filename=album.cover) }}">
                    </button>

                    <dialog id="modal_album_{{ album.id }}" class="modal">
                        <div class="modal-box max-w-screen-lg">
                            <h3>{{ album.artist }} — {{ album.album }} </h3>

                            <div class="flex flex-wrap gap-1 items-center">
                                {% if album.year %}
                                    <span class="text-sm text-gray-500">{{ album.year }}</span>
                                    <span class="text-gray-300">•</span>
                                {% endif %}
                                {% if album.genre %}
                                    <span class="text-sm text-gray-500">{{ album.genre }}</span>
                                    <span class="text-gray-300">•</span>
                                {% endif %}
                                {% if album.yandex %}
                                    <a href="{{ album.yandex }}" target="_blank" class="text-sm">
                                        Яндекс
                                        Музыка
                                    </a>
                                {% endif %}
                                {% if album.rym %}
                                    <a href="{{ album.rym }}" target="_blank" class="text-sm">
                                        RYM
                                    </a>
                                {% endif %}
                            </div>


                            <div class="text-md">
                                {{ (album.review_md or '') | safe }}
                            </div>


                            <div class="modal-action ">
                                <form method="dialog">
                                    <button class="btn">Закрыть</button>
                                </form>
                            </div>

                        </div>
                    </dialog>
                {% endfor %}


            </div>
        </div>


        <div>
            <h2>Пиво</h2>
            <div class="beers">
                <!-- checkins -->
            </div>
        </div>

    </div>


    <script defer src="{{ url_for('static', filename='js/alpine.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/checkins.js') }}"></script>
    <script>

        checkins.forEach(
            ([img, link]) => {
                let linkNode = document.createElement('a');
                linkNode.href = link
                linkNode.innerHTML = `<img src="${img}" class="beer-img">`

                document.querySelector('.beers').appendChild(linkNode)
            }
        )
    </script>
{% endblock %}