<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- region SEO -->
    <title>{{ title }} / потик-ио</title>
    <meta name="description" content="{{ desc }}"/>
    <!-- endregion SEO -->

    <!-- region Styles -->
    <!-- region Noto Sans Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <!-- endregion Noto Sans Font -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% block static %}
    {% endblock %}
    <!-- endregion Styles -->
</head>
<body>
<header>
    <div style="display: flex; align-items: center; padding: 0 3px ">
        <a class="link" href="/">потик.ио</a>|
        <a class="link" href="/notes">заметки</a>|
        <a class="link" href="/special">спешл</a>

        <div style="flex-grow: 1"></div>
        <a href="https://forms.gle/fXZVKCjDxqfpE6Tz8"
           style="text-decoration: none; padding: 5px 10px; border-radius: 10px; color: white; background: rebeccapurple"
           class="link">Помоги мне</a>
    </div>
    <hr>
</header>
<main>
    <article>
        {% if title and show_title %}
            <h1>{{ title }}</h1>
        {% endif %}
        {% if created %}
            <cite>{{ created }}</cite>
        {% endif %}
        {% if desc and show_desc %}
            <div class="desc">{{ desc }}</div>
        {% endif %}

        {% block main %}
        {% endblock %}
    </article>
</main>
<footer>
    <div style="display: flex; justify-content: space-between">
        <div>
            {% if prev %}
                <a href="/notes/{{ prev }}">
                    < Пред.
                </a>
            {% endif %}

        </div>
        <div>
            {% if next %}
                <a href="/notes/{{ next }}">
                    След. >
                </a>
            {% endif %}

        </div>
    </div>

</footer>
</body>

{% block script %}
{% endblock %}
</html>