<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- region SEO -->
    <title>{{ title }} / потик-ио</title>
    <meta name="description" content="{{ desc }}"/>

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ desc }}">
    <!-- endregion SEO -->

    <!-- region Styles -->
    <!-- region Noto Sans Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <!-- endregion Noto Sans Font -->

    {#    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='output.css') }}">

    {% block static %}
    {% endblock %}
    <!-- endregion Styles -->
</head>
<body class="{% if fullwidth %}{% else %}max-w-screen-2xl{% endif %}">


{% from 'templates/components/header.html' import header %}

{{ header() }}
<main class="prose md:prose-xl  max-w-none p-4 md:p-6">
    <article>
        {% if title and show_title %}
            <h1>{{ title }}</h1>
        {% endif %}
        <div>
            {% for tag in note_tags %}
                <span class="badge badge-lg badge-primary">{{ tag }}</span>
            {% endfor %}
        </div>
        {% if created %}
            <cite>{{ created }}</cite>
        {% endif %}

        {% if desc and show_desc %}
            <div class="desc">{{ desc }}</div>
        {% endif %}

        {% block main %}
        {% endblock %}
    </article>
</main>
<footer class="px-4 md:px-6">
    <div style="display: flex; justify-content: space-between">
        <div>
            {% if prev %}
                <a class="btn btn-link" href="/notes/{{ prev }}">
                    < Пред.
                </a>
            {% endif %}

        </div>
        <div>
            {% if next %}
                <a class="btn btn-link" href="/notes/{{ next }}">
                    След. >
                </a>
            {% endif %}

        </div>
    </div>

</footer>
</body>

{% block script %}
{% endblock %}
</html>