{% extends "_layouts/base.html" %}

{% macro beer_list(beers, stores) %}
    <div class="flex flex-wrap gap-1 md:gap-2 mb-4">
        {% for store, store_label in stores %}
            <label class="label label-text gap-1">
                <input type="checkbox" name="beer-store-filter" value="{{ store }}"
                       class="checkbox checkbox-sm md:checkbox-md beer-store-filter"
                       data-store="{{ store }}">{{ store_label }}
            </label>

        {% endfor %}
    </div>

    <div class="flex flex-wrap items-baseline gap-[2px]">

        {% for beer in beers %}
            <button class="beer blue-border-hover-link" data-store="{{ beer.stores | join(' ') }}"
                    title="{{ beer.title }}"

                    onclick="modal_beer_{{ beer.id }}.showModal()"
            ><img class="w-[50px]  "
                  src="{{ url_for('static', filename=beer.img) }}"></button>


            <dialog id="modal_beer_{{ beer.id }}" class="modal">
                <div class="modal-box max-w-screen-lg relative">
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>

                    <div class="flex flex-col md:flex-row ">
                        <div class="aspect-square md:min-w-64 flex justify-center items-center">
                            <img class="max-h-80 md:h-full w-auto" src="{{ url_for('static', filename=beer.img) }}">
                        </div>
                        <div>


                            <h3>{{ beer.title }}</h3>

                            <div class="flex flex-wrap gap-2">
                                <a target="_blank"
                                   class="btn btn-sm btn-warning"
                                   href="{{ beer.untappd_url }}">Untappd</a>

                            </div>

                            <h4>Цены</h4>

                            <div class="flex flex-wrap gap-2">

                                {% for price in beer.last_prices %}
                                    <a target="_blank"
                                       class="btn btn-sm " href="{{ price.url }}">{{ price.store_label }}
                                        - {{ price.price }} ₽</a>

                                {% endfor %}
                            </div>
                        </div>

                    </div>


                    <div class="modal-action ">
                        <form method="dialog">
                            <button class="btn btn-sm">Закрыть</button>
                        </form>
                    </div>

                </div>
            </dialog>
        {% endfor %}


    </div>

    <script>

        document.querySelectorAll('.beer-store-filter').forEach(function (btn) {

            btn.addEventListener('click', function () {


                const stores = [...document.querySelectorAll('.beer-store-filter')].filter(cb => cb.checked).map(cb => cb.getAttribute('data-store'));


                // Reset all beers to visible
                document.querySelectorAll('.beer').forEach(function (beer) {
                    beer.style.display = 'block';
                });
                // Apply the filter by hiding beers not matching the store
                document.querySelectorAll('.beer').forEach(function (beer) {
                    const beerStores = beer.getAttribute('data-store').split(' ');
                    beer.style.display = stores.every(store => beerStores.includes(store)) ? 'block' : 'none';
                });
            });
        });

    </script>
{% endmacro %}

{% block main %}

    <ul>
        <li><a href="#cal">Пивной календарь</a></li>
        <li><a href="#base">База пива</a></li>
        <li><a href="#drink">Где пить?</a></li>
        <li><a href="#buy">Где покупать?</a></li>
        <li><a href="#breweries">Пивоварни</a></li>
        <li><a href="#styles">Стили</a></li>
        <li><a href="#craft">Пару слов о крафте</a></li>
    </ul>

    <h2 id="cal">Пивной календарь</h2>

    <p> Веду календарик с движухами по всей стране, связанными с пивом или едой, <i>енжой</i></p>


    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FMoscow&bgcolor=%23ffffff&mode=AGENDA&title=%D0%9F%D0%B8%D0%B2%D0%BD%D0%BE%D0%B9&src=YjNiNmYwMzgwZGZkZTk5MGU2MTYwYzlmYWRjMTFiNGY0ZWU1NjQ2MTM4ZDcxN2IyMDM1Y2EwYjM0ZTIyN2Q1NUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23616161"
            style="border:solid 1px #777" frameborder="0" scrolling="no"></iframe>

    <blockquote>Тем же самым занимается и сервис - <a href="https://2beer4.me/festivals">2beer4me</a>, плюс там есть
        тап-листы фестивалей (и некоторых баревичей)
    </blockquote>


    <h2 id="base">База пива</h2>
    {{ beer_list(beers, stores) }}

    <hr>

    <h2 id="drink">Где пить?</h2>

    <p><b>Тап-румы ака Боттл-шопы</b> - места, специализирующие исключительно на пиве</p>

    <ul>

        <li>
            Из еды тут обычно только
            закуски, типа
            аречков и сухареков
        </li>
        <li>
            Пространство небольшое, сидячих мест мало, бывает что приходится стоять
        </li>
        <li>
            Помимо пива разливного, есть пиво и
            бутылках, которое можно купить с собой - потому и боттл-шоп
        </li>
        <li>
            Из удобств - актуальный тап-лист в Тапке
        </li>
        <li>
            Часто проводятся всякие локальные движухи, которые анонсируются в том же Тапке
        </li>
        <li>
            Примеры:
            <a href="https://untappd.com/v/magazinbar-imeyu-pravo/9395517">Имею Право</a>,
            <a href="https://ruletaproom.ru/">Rule Taproom</a>,
            <a href="https://dogmabottleshop.ru/">Dogma</a>,
            <a href="https://untappd.com/v/craft-republic/2180553/">Craft Republic</a>
        </li>
    </ul>

    <p><b>Крафтовые Бары / Бургерные / Пиццерии</b> - все еще специализация на пиве, но уже с едой</p>

    <ul>
        <li>
            Еда - это в основном это бургеры, пицца, картошечка, греночки - подпивасное
        </li>
        <li>
            Сидячих мест уже больше, уже со столами, бывает даже бронить надо
        </li>
        <li>
            Также бывают всякие локальные движухи
        </li>
        <li>
            Примеры:
            <a href="https://untappd.com/v/share-house/7728362">Share House</a>,
            <a href="https://www.saldenstaphouse.ru/pyatnickaya">Saldens</a>,
            <a href="https://yandex.ru/maps/-/CDbaqHZo">CraftLand</a>,
            <a href="https://jawsbeer.ru/spot">Jawsspot</a>,
            <a href="https://untappd.com/v/method-beer-and-munchies/8219233">Method</a>,
            <a href="https://untappd.com/v/4brewers-pub-moscow/12248540">4Brewers</a>
        </li>
    </ul>

    <p><b>Рестики</b> - ну тут понятно - еще больший упор в еду, в пространство</p>

    <ul>
        <li>
            Примеры:

            <a href="https://vk.com/eric_the_red_pub">Эрик Рыжий</a>,
            <a href="https://yanprimus.ru/">Ян Примус</a>
        </li>
    </ul>

    <p>
        <b>Рюмочные</b> - и снова еще меньше про пиво, больше про настоечки, из пива - обычно что-то из
        масс-маркета, типа Жигулей
    </p>

    <ul>
        <li>
            Примеры:

            <a href="https://yandex.ru/maps/-/CDbayFZA">Горбуфет Шашлычная</a>
        </li>
    </ul>


    <h2 id="buy">Где покупать?</h2>

    <p><b>Масс-маркет</b> - это всякие сетевые магазы</p>
    <ul>
        <li>
            Пиво обычно не отличается разнообразием, но его много и оно
            недорогое
        </li>
        <li>
            Так что за классическими сортами, типа лагерочка и пшенички, хорошо сюда заходить
        </li>
        <li>
            Примеры:
            <a href="https://www.winelab.ru/">ВинЛаб</a>,
            <a href="https://amwine.ru/">Ароматный Мир</a>,
            <a href="https://www.perekrestok.ru/">Перек</a>,
            <a href="https://vkusvill.ru/">ВкусВилл</a>,
            <a href="https://av.ru/">Азбука Вкуса</a>
        </li>
    </ul>


    <p><b>Крафтовые магазы</b> - очевидно, магазы, сосредоточенные на продаже пиваса</p>
    <ul>
        <li>Тут самый большой и интересный выбор пива, от крафта до импорта</li>
        <li>Но и цены тоже самые разнообразные: от сотки до нескольких тысяч за бутылку</li>
        <li>Часто бывает лояльность и акции - имеет смысл это изучить</li>
        <li>Примеры:
            <a href="https://beruvyhodnoy.ru/">Беру Выходной</a>,
            <a href="https://rusbeershop.ru/">Русбир</a>,
            <a href="https://untappd.com/v/superhmel/10587734">СуперХмель</a>
        </li>
    </ul>

    <p><b>Ноунейм места и разливухи</b></p>
    <ul>
        <li>
            Внезапно в таких местах бывает и крафт и импорт, причем за хорошую цену
        </li>
        <li>Примеры:
            <a href="https://litra-beer.ru/">Лит.ра</a>,
            <a href="https://citycraftbeer.ru/">Ситикрафт</a>
        </li>

    </ul>


    <h2 class="!mb-0" id="breweries">Пивоварни</h2>
    <cite class="block mb-2">Любимые и заинтересовавшие</cite>

    {% for brewery in breweries %}
        <div class="flex gap-4 items-center border border-neutral rounded-lg p-2 md:p-4 ">
            <div>
                <img src="{{ url_for('static', filename= brewery.img) }}">
            </div>
            <div>
                <div class="text-xl font-bold">{{ brewery.title }}</div>
                <div><span class="text-sm font-semibold">Страна:</span> {{ brewery.country }} </div>
                <div><span class="text-sm font-semibold">Стили:</span> {{ brewery.styles | join(' • ') }} </div>
                <div>
                    <a class="btn btn-warning btn-sm" href="{{ brewery.untappd_url }}">Untappd</a>
                </div>
            </div>
        </div>

        <div class="py-2 md:py-4">
            {% for beer in brewery.beers %}
                <button class="beer blue-border-hover-link" data-store="{{ beer.stores | join(' ') }}"
                        title="{{ beer.title }}"

                        onclick="modal_beer_{{ beer.id }}.showModal()"
                ><img class="w-[50px]  "
                      src="{{ url_for('static', filename=beer.img) }}"></button>


                <dialog id="modal_beer_{{ beer.id }}" class="modal">
                    <div class="modal-box max-w-screen-lg relative">
                        <form method="dialog">
                            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>

                        <div class="flex flex-col md:flex-row ">
                            <div class="aspect-square md:min-w-64 flex justify-center items-center">
                                <img class="max-h-80 md:h-full w-auto" src="{{ url_for('static', filename=beer.img) }}">
                            </div>
                            <div>


                                <h3>{{ beer.title }}</h3>

                                <div class="flex flex-wrap gap-2">
                                    <a target="_blank"
                                       class="btn btn-sm btn-warning"
                                       href="{{ beer.untappd_url }}">Untappd</a>

                                </div>

                                <h4>Цены</h4>

                                <div class="flex flex-wrap gap-2">

                                    {% for price in beer.last_prices %}
                                        <a target="_blank"
                                           class="btn btn-sm " href="{{ price.url }}">{{ price.store_label }}
                                            - {{ price.price }} ₽</a>

                                    {% endfor %}
                                </div>
                            </div>

                        </div>


                        <div class="modal-action ">
                            <form method="dialog">
                                <button class="btn btn-sm">Закрыть</button>
                            </form>
                        </div>

                    </div>
                </dialog>
            {% endfor %}


        </div>

    {% endfor %}

    <h2 class="!mb-0" id="styles">Стили</h2>
    <cite class="block mb-2">Такие разные и одинаковые пивасы</cite>

    <div class="flex flex-col gap-2">
        {% for style in styles %}
            <div class="border border-neutral rounded-lg p-2 md:p-4 flex flex-col gap-1">
                <div class="text-xl font-bold ">{{ style.title }}</div>
                <div class="text-sm">{{ style.desc }}</div>
                <div class="text-sm">
                    <div class="flex flex-wrap gap-y-1 gap-x-2">

                        <span class="font-semibold">Подвиды:</span>

                        {% for style in style.sub_styles %}
                            <span class="tooltip" data-tip="{{ style.desc }}">
                            <span class="border-b-2 border-dotted border-neutral">{{ style.title }}</span>
                        </span>

                            <span>{% if not loop.last %}•{% endif %}</span>
                        {% endfor %}
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>


    <hr>
    <h2 id="craft">Пару слов о крафте</h2>

    <div class="p-4 rounded-lg border border-neutral text-2xl font-semibold text-center">Чем больше пьешь крафт, тем
        больше разочарования от него
    </div>

    <figure>
        <audio src="/templates/beer/Brыkaisya%20-%20Крафтовый%20мудак.mp3" controls class="w-full"></audio>
        <figcaption>Brыkaisya — Крафтовый мудак</figcaption>
    </figure>

    {{ 'https://youtu.be/Q7N-khLo1xc?si=EFfGFodKDWNK8cjJ' | youtube_embed | safe }}



{% endblock %}
