{% extends "_layouts/base.html" %}

{% block main %}

    <ul>
    <li><a href="#cal">Пивной календарь</a></li>
    <li><a href="#drink">Где пить?</a></li>
    <li><a href="#buy">Где покупать?</a></li>
    </ul>



    <h2 id="cal">Пивной календарь</h2>
    <ul>
        <li> Веду калик с движухами по всей стране, связанными с пивом или едой, енжой</li>
        <li>
            Тем же самым занимается и сервис - <a href="https://2beer4.me/festivals">2beer4me</a>, плюс там есть
            тап-листы фестивалей (и некоторых баревичей)
        </li>
    </ul>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FMoscow&bgcolor=%23ffffff&mode=AGENDA&title=%D0%9F%D0%B8%D0%B2%D0%BD%D0%BE%D0%B9&src=YjNiNmYwMzgwZGZkZTk5MGU2MTYwYzlmYWRjMTFiNGY0ZWU1NjQ2MTM4ZDcxN2IyMDM1Y2EwYjM0ZTIyN2Q1NUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23616161"
            style="border:solid 1px #777" frameborder="0" scrolling="no"></iframe>


    <h2 id="drink">Где пить?</h2>

    <ul>
        <li><b>Тап-румы ака Боттл-шопы</b> - места, специализирующие исключительно на пиве

            <ul>

                <li>
                    Из еды тут обычно только
                    закуски, типа
                    аречков и сухареков
                </li>
                <li>
                    Пространство небольшое, сидячих мест мало, бывает что приходится стоять
                </li>
                <li>
                    Помимо пива разливного, есть пиво и
                    бутылках, которое можно купить с собой - потому и боттл-шоп
                </li>
                <li>
                    Из удобств - актуальный тап-лист в Тапке
                </li>
                <li>
                    Часто проводятся всякие локальные движухи, которые анонсируются в том же Тапке
                </li>
                <li>
                    Примеры:
                    <a href="https://untappd.com/v/magazinbar-imeyu-pravo/9395517">Имею Право</a>,
                    <a href="https://ruletaproom.ru/">Rule Taproom</a>,
                    <a href="https://dogmabottleshop.ru/">Dogma</a>,
                    <a href="https://untappd.com/v/craft-republic/2180553/">Craft Republic</a>
                </li>
            </ul>
        </li>


        <li><b>Крафтовые Бары / Бургерные / Пиццерии</b> - все еще специализация на пиве, но уже с едой

            <ul>
                <li>
                    Еда - это в основном это бургеры, пицца, картошечка, греночки - подпивасное
                </li>
                <li>
                    Сидячих мест уже больше, уже со столами, бывает даже бронить надо
                </li>
                <li>
                    Также бывают всякие локальные движухи
                </li>
                <li>
                    Примеры:
                    <a href="https://untappd.com/v/share-house/7728362">Share House</a>,
                    <a href="https://www.saldenstaphouse.ru/pyatnickaya">Saldens</a>,
                    <a href="https://yandex.ru/maps/-/CDbaqHZo">CraftLand</a>,
                    <a href="https://jawsbeer.ru/spot">Jawsspot</a>,
                    <a href="https://untappd.com/v/method-beer-and-munchies/8219233">Method</a>,
                    <a href="https://untappd.com/v/4brewers-pub-moscow/12248540">4Brewers</a>
                </li>
            </ul>


        </li>
        <li><b>Рестики</b> - ну тут понятно - еще больший упор в еду, в пространство

            <ul>
                <li>
                    Примеры:

                    <a href="https://vk.com/eric_the_red_pub">Эрик Рыжий</a>,
                    <a href="https://yanprimus.ru/">Ян Примус</a>
                </li>
            </ul>
        </li>

        <li>
            <b>Рюмочные</b> - и снова еще меньше про пиво, больше про настоечки, из пива - обычно что-то из
            масс-маркета, типа Жигулей
            <ul>
                <li>
                    Примеры:

                    <a href="https://yandex.ru/maps/-/CDbayFZA">Горбуфет Шашлычная</a>
                </li>
            </ul>
        </li>

    </ul>

    <h2 id="buy">Где покупать?</h2>
    <ul>
        <li>
            <b>Масс-маркет</b> - это всякие сетевые магазы
            <ul>
                <li>
                    Пиво обычно не отличается разнообразием, но его много и оно
                    недорогое
                </li>
                <li>
                    Так что за классическими сортами, типа лагерочка и пшенички, хорошо сюда заходить
                </li>
                <li>
                    Примеры:
                    <a href="https://www.winelab.ru/">ВинЛаб</a>,
                    <a href="https://amwine.ru/">Ароматный Мир</a>,
                    <a href="https://www.perekrestok.ru/">Перек</a>,
                    <a href="https://vkusvill.ru/">ВкусВилл</a>,
                    <a href="https://av.ru/">Азбука Вкуса</a>
                </li>
            </ul>

        </li>
        <li>
            <b>Крафтовые магазы</b> - очевидно, магазы, сосредоточенные на продаже пиваса

            <ul>
                <li>Тут самый большой и интересный выбор пива, от крафта до импорта</li>
                <li>Но и цены тоже самые разнообразные: от сотки до нескольких тысяч за бутылку</li>
                <li>Часто бывает лояльность и акции - имеет смысл это изучить</li>
                <li>Примеры:
                    <a href="https://beruvyhodnoy.ru/">Беру Выходной</a>,
                    <a href="https://rusbeershop.ru/">Русбир</a>,
                    <a href="https://untappd.com/v/superhmel/10587734">СуперХмель</a>
                </li>
            </ul>
        </li>
        <li>
            <b>Ноунейм места и разливухи</b>

            <ul>
                <li>
                    Внезапно в таких местах бывает и крафт и импорт, причем за хорошую цену
                </li>
                <li>Примеры:
                    <a href="https://litra-beer.ru/">Лит.ра</a>,
                    <a href="https://citycraftbeer.ru/">Ситикрафт</a>
                </li>

            </ul>

        </li>
    </ul>




{% endblock %}
