{% extends "_layouts/base.html" %}

{% from '_components/page_list.html' import page_list, page_sections %}
{% from '_components/link_and_section.html' import link, section_card %}
{% from '_components/form.html' import htmx_form %}
{% from "_components/scripts.html" import htmx %}

{% block main %}
    {% if config.is_prod %}
        <h1 class="text-center uppercase">Отсоси потом проси</h1>
    {% else %}

        <h2>Форма Странички ака blog_pages</h2>
        {{ htmx_form(page_form) }}

        <h2>Форма Карточки Фида ака feed</h2>
        {{ htmx_form(feed_form, '/admin/feed') }}

        {{ htmx() }}

    {% endif %}
{% endblock %}
