{% extends "_layouts/base.html" %}

{% from '_components/page_list.html' import page_list, page_sections %}
{% from '_components/link_and_section.html' import link, section_card %}
{% from '_components/form.html' import htmx_form %}
{% from "_components/scripts.html" import htmx %}

{% block main %}
    {% if config.is_prod %}
        <h1 class="text-center uppercase">Отсоси<Br>потом проси</h1>
    {% else %}

        <h2>Форма Странички ака blog_pages</h2>
        {{ htmx_form(page_form) }}

        <hr>

        <h2>Фид ака feed</h2>
        <button class="btn btn-primary" hx-post="/admin/feed/digest" hx-target="next #digest">Дайджест за день</button>
        <pre id="digest"></pre>


        <h3>Форма Карточки Фида Базовая</h3>
        {{ htmx_form(feed_form, '/admin/feed', enctype='multipart/form-data') }}
        <h3>Форма Карточки Фида Тематическая</h3>
        {{ htmx_form(rel_feed_form, '/admin/rel_feed') }}

        {{ htmx() }}

    {% endif %}
{% endblock %}
