{% extends "_layouts/base.html" %}

{% macro modal(id) %}
    <dialog id="{{ id }}" class="modal">
        <div class="modal-box max-w-screen-lg">

            {{ caller() }}

            <div class="modal-action ">
                <form method="dialog">
                    <button class="btn">Закрыть</button>
                </form>
            </div>

        </div>
    </dialog>

{% endmacro %}

{% macro movie_grid(movies, prefix) %}
    <div class="grid grid-cols-4 md:grid-cols-10 gap-1">
        {% for movie in movies %}
            <button onclick="modal_movie_{{ prefix }}_{{ movie.id }}.showModal()" class="blue-border-hover-link"
                    title="{{ movie.title }}">
                <img src="{{ url_for('static', filename=movie.poster) }}">
            </button>

            {% call modal('modal_movie_' + prefix + '_' + movie.id | string) %}
                <h3>{{ movie.title }} ({{ movie.year }})</h3>
                <div>{{ movie.title_eng }}</div>

                <div class="flex flex-wrap gap-1 items-center">

                    <span class="text-sm text-gray-500">{{ movie.vote }} / 10</span>
                    <span class="text-gray-300">•</span>

                    <a href="{{ movie.kp_url }}" target="_blank" class="text-sm">
                        КП
                    </a>

                </div>

                <div class="text-md">
                    {{ movie.review | render_md | safe }}
                </div>


            {% endcall %}



        {% endfor %}
    </div>
{% endmacro %}

{% block main %}

    {% if not config.is_prod %}
    <div>
    <a class="btn btn-sm btn-link" href="/movies/form">Добавить</a>
    </div>
    {% endif %}

    <ul>
        <li><a href="#year">За этот год</a></li>
        <li><a href="#lists">Подборочки</a></li>
        <li><a href="#all">За все время</a></li>
    </ul>

    <h2 id="year">За этот год</h2>
    {{ movie_grid(year_movies, 'year') }}

    <h2 id="lists">Подборочки</h2>

    <div class="flex flex-col gap-2">
        {% for movie_list in podborochki %}
            <div>
                <h3 class="!mb-0">{{ movie_list.title }}</h3>
                <div>
                    <cite>{{ movie_list.desc }}</cite>
                </div>
                {{ movie_grid(movie_list.movies, movie_list.key) }}
            </div>

        {% endfor %}
    </div>


    <details>
        <summary>
            <h3 class="!mb-0 inline-block">Нераспределенные</h3>

        </summary>
        {{ movie_grid(wo_tags, 'wo_tags') }}

    </details>



    <h2 id="all">За все время</h2>
    {{ movie_grid(all_movies, 'all') }}

{% endblock %}