{% extends "_layouts/base.html" %}

{% block main %}


    <h2>Инвестиции</h2>
    <h3>Идеи</h3>
    <table>
        <thead>
        <tr>
            <th>Что</th>
            <th>Тип</th>
            <th>Минималка</th>
            <th>Доходность на 2024.01 (годовая)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="https://alfabank.ru/make-money/investments/cfa/">ЦФА</a></td>
            <td>ЦФА ~ облиги</td>
            <td>1000 ₽</td>
            <td>~17%</td>
        </tr>
        <tr>
            <td><a href="https://finuslugi.ru/">Вклад в ФинУслуги</a></td>
            <td>Вклад</td>
            <td>1000 ₽</td>
            <td>~18%</td>
        </tr>

        <tr>
            <td><a href="https://nibbleinvest.ru/">nibbleinvest</a></td>
            <td>Крауд</td>
            <td>100 ₽</td>
            <td>~20%</td>
        </tr>
        <tr>
            <td><a href="https://www.frontiers.ru/">frontiers</a></td>
            <td>Крауд</td>
            <td>1 ₽</td>
            <td>~25%</td>
        </tr>
        <tr>
            <td><a href="https://credit.club/invest">credit.club</a></td>
            <td>Недвига</td>
            <td>10к ₽</td>
            <td>~19%</td>
        </tr>
        <tr>
            <td><a href="https://aktivo.ru/">aktivo</a></td>
            <td>Недвига</td>
            <td>300к</td>
            <td>~13%</td>
        </tr>
        <tr>
            <td><a href="https://brainbox.vc/">brainbox.vc</a></td>
            <td>Венчур</td>
            <td>5к</td>
            <td>~25%</td>
        </tr>
        <tr>
            <td>Покупать то что больше всех росло за неделю</td>
            <td>Акции</td>
            <td>1 ₽</td>
            <td>~30%</td>
        </tr>
        <tr>
            <td><a href="https://www.alfacapital.ru/">Альфа-Капитал ДУ / Фонды</a></td>
            <td>Акции</td>
            <td>1 ₽</td>
            <td>~20%</td>
        </tr>
        </tbody>
    </table>


    <h3>Не зашло</h3>

    <table>
        <thead>
        <tr>
            <th>Что</th>
            <th>Тип</th>
            <th>Почему</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="https://goznakinvest.ru/">Гознак.Инвестиции</a></td>
            <td>Инвестиционные монеты</td>
            <td>Доходность ниже золота на бирже + спред + куча возни</td>
        </tr>

        </tbody>
    </table>

    <h2>Бюджет</h2>
    <div class="flex flex-col md:flex-row md:gap-4">
        <div class="">
            <p>
                Ну идея бюджета понятна - прикидываем сколько и на что будет тратить в течение месяца, и придерживаемся.
            </p>
            <p>
                <b>А в
                    чем
                    смысл?</b> Смысл в том, что зная бюджет, можно закинуть себе на карту определенную сумму, и весь остальной
                бабос
                отложить/закинуть в какую-нить темку - то есть смысл бюджета в <i>предсказуемости</i>.
            </p>
            <p>
                <b>Как быть в случае больших трат?</b> Например планируешь тратить на спорт 10к / мес, но тебе надо оплатить
                годовой
                абик на 60к? Решение - <i>пользоваться рассрочкой/долями</i>. Тогда изначально надо переоценить бюджет
                на
                спорт
                с 10к
                до 60/12=5 = 15к и просто платить по 5к/мес - таким образом предсказуемость будет соблюдаться.
            </p>
            <p><b>Где вести бюджет?</b> Как всегда, рекомендую любимую приложуху - <a href="https://zenmoney.ru/">Дзен Мани</a>. Тут можно сделать
                категории,
                лимиты
                на
                них и есть синхронизация с банками с автоматической простановкой категорий.
            </p>

        </div>
        <img src="/templates/money/dzen-money.jpg" class="w-52">
    </div>

{% endblock %}