---
import Layout from "../layouts/Layout.astro";

const response = await fetch("http://84.201.131.244:5000/weight");
let weightData = await response.json();

weightData = weightData.map(entry => ({
    ...entry,
    // remove time e.g. 00:00:00
    date: entry.date.split(" ").slice(0, 4).join(" ")
}));

// Подготовка данных для передачи в скрипт
const labels = weightData.map(entry => {
    return entry.date;
});
const weights = weightData.map(entry => entry.weight);
---

<Layout title="Здоровье">
    <h1>Здоровье</h1>

    <div>
        <h2>Вес</h2>
        <div style="height: 400px; width: 100%;">
            <canvas id="weightChart"></canvas>
        </div>


        <h2>Чем лечится</h2>

        <ul>
            <li><b>Эриус</b> — при аллергии</li>

            <li><b>ЛинАква</b> — для промывки носа</li>

        </ul>


    </div>

    <!-- Подключаем библиотеку -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Инициализируем график -->
    <script define:vars={{labels, weights, weightData}}>
    document.addEventListener('DOMContentLoaded', () => {
    const ctx = document.getElementById('weightChart');
    if (ctx) {
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Вес',
                    data: weights,
                    borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    tension: 0.1,
                    fill: true
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        title: {
                            display: true,
                            text: 'Вес (кг)'
                        },
                        min: 77,
                        max: 84
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Дата'
                        },
                        ticks: {
                            maxRotation: 45,
                            minRotation: 45,
                            autoSkip: true,
                            maxTicksLimit: 20
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            title: function (tooltipItems) {
                                const index = tooltipItems[0].dataIndex;
                                return new Date(weightData[index].date).toLocaleDateString('ru-RU');
                            }
                        }
                    }
                }
            }
        });
    }
});
    </script>
    </Layout>
