---
import Layout from '../layouts/Layout.astro';
import IndexLink from "../components/IndexLink.astro";
import PillLink from "../components/PillLink.astro";
---

<Layout title="potyk.io">
    <h1 class="text-center text-balance !mt-[40vh]">

        <span class="rotating">💀</span>
        <i>    sell your soul and die alone</i>
            <span class="rotating">💀</span>
    </h1>

    <!--<div class="flex flex-wrap gap-2 justify-center">-->
    <!--    <PillLink href="/life">life</PillLink>-->
    <!--    <PillLink href="/travel">travel</PillLink>-->
    <!--    <PillLink href="/n/cv">cv</PillLink>-->
    <!--    <PillLink-->
    <!--            href="https://docs.google.com/document/d/1Aa7qA0gaUu6iAomZ81jRRikGfBdZ2Rc_TRs5B3J1gF0/edit?usp=sharing">-->
    <!--        beer:guide-->
    <!--    </PillLink>-->

    <!--</div>-->

</Layout>


<style>
    /* Styling for the rotating disk */
    .rotating {
        display: inline-block; /* Ensures proper alignment and rotation */
        animation: spin 2s linear infinite; /* Apply the animation */
    }

    /* Keyframes for the rotation */
    @keyframes spin {
        from {
            transform: rotate(0deg); /* Start at 0 degrees */
        }
        to {
            transform: rotate(360deg); /* Rotate to 360 degrees */
        }
    }
</style>