---
import Layout from '../layouts/Layout.astro';
---

<Layout title="potyk.io">
    <h1 class="text-center text-balance !mt-[40vh]">
        <span class="rotating">💀</span>
        Sell your soul and die alone
        <span class="rotating">💀</span>
    </h1>

    <div class="flex  flex-col gap-2">
        <a href="/ai" class="!no-underline">
            <div class="text-center border-2 rounded p-1">
                ai
            </div>
        </a>
        <a href="/n/cv" class="!no-underline">
            <div class="text-center border-2 rounded p-1">
                cv
            </div>
        </a>
        <a href="/kino" class="!no-underline">
            <div class="text-center border-2 rounded p-1">
                kino
            </div>
        </a>
        <a href="/health" class="!no-underline">
            <div class="text-center border-2 rounded p-1">
                health
            </div>
        </a>
        <a href="/travel/ekb-2025" class="!no-underline">
            <div class="text-center border-2 rounded p-1">
                ekb 2025
            </div>
        </a>
        <a href="https://docs.google.com/document/d/1Aa7qA0gaUu6iAomZ81jRRikGfBdZ2Rc_TRs5B3J1gF0/edit?usp=sharing" class="!no-underline">
            <div class="text-center border-2 rounded p-1">
                beer:guide
            </div>
        </a>
    </div>

</Layout>


<style>
    /* Styling for the rotating disk */
    .rotating {
        display: inline-block; /* Ensures proper alignment and rotation */
        animation: spin 2s linear infinite; /* Apply the animation */
    }

    /* Keyframes for the rotation */
    @keyframes spin {
        from {
            transform: rotate(0deg); /* Start at 0 degrees */
        }
        to {
            transform: rotate(360deg); /* Rotate to 360 degrees */
        }
    }
</style>