---
import Layout from '../layouts/Layout.astro';
import IndexLink from "../components/IndexLink.astro";
---

<Layout title="potyk.io">
    <h1 class="text-center text-balance !mt-[40vh]">
        <span class="rotating">💀</span>
        Sell your soul and die alone
        <span class="rotating">💀</span>
    </h1>

    <div class="flex  flex-col gap-2">
        <IndexLink href="/ai">ai</IndexLink>
        <IndexLink href="/n/cv">cv</IndexLink>
        <IndexLink href="/life">life</IndexLink>
        <IndexLink href="/kino">kino</IndexLink>
        <IndexLink href="/invest">invest</IndexLink>
        <IndexLink href="/travel">travel</IndexLink>
        <IndexLink href="/health">health</IndexLink>
        <IndexLink href="/thoughts">thoughts</IndexLink>
        <IndexLink href="https://docs.google.com/document/d/1Aa7qA0gaUu6iAomZ81jRRikGfBdZ2Rc_TRs5B3J1gF0/edit?usp=sharing">beer:guide</IndexLink>

    </div>

</Layout>


<style>
    /* Styling for the rotating disk */
    .rotating {
        display: inline-block; /* Ensures proper alignment and rotation */
        animation: spin 2s linear infinite; /* Apply the animation */
    }

    /* Keyframes for the rotation */
    @keyframes spin {
        from {
            transform: rotate(0deg); /* Start at 0 degrees */
        }
        to {
            transform: rotate(360deg); /* Rotate to 360 degrees */
        }
    }
</style>