{% extends "layouts/base.html" %}

{% block main %}


    <h2>Дорогие</h2>
    <table>
        <thead>
        <tr>
            <th>Что</th>
            <th>Коммент</th>
            <th>Сколько</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Steam Deck OLED 1ТБ 90Hz</td>
            <td>На стационаре не всегда хочется играть,<br>на ноуте - перегрев + нужна розетка,<br> а вот на
                приставочке кажется кайфово будет
            </td>
            <td>
                <a href="https://www.ozon.ru/category/igrovye-pristavki-15801/?from_global=true&sorting=rating&text=steam+deck">Озон:
                    70к-90к</a></td>
        </tr>
        </tbody>


    </table>





{% endblock %}