{% extends 'templates/base.html' %}

{% from 'templates/feed/feed_card.html' import feed_card %}

{% macro card(title, content, cls = '') %}
    {% set border_style = 'border-neutral ' %}

    <div class="border-2 rounded-lg {{ border_style }} {{ cls }}">
        <div class="border-b-2 text-sm font-semibold {{ border_style }} p-2">
            {{ title }}
        </div>
        <div class="p-2 text-sm">
            {{ content | safe }}

        </div>
    </div>
{% endmacro %}

{% block main %}
    <h1>Путешествия</h1>
    <div class="desc mb-2">Сервисы, гайды, стата по путешествиям</div>


    <div class="grid grid-cols-3  gap-2">

        {{ card('Билетики ✈️',
            '''
            <ul class=" !my-0 ">
                <li>
                    <a href="https://www.aviasales.ru/">Авиасейлз</a><br>
                    <span>Первое, что приходит в голову</span>
                </li>
                <li>
                    <a href="https://www.kupibilet.ru/">Купи Билет</a><br>
                    <span>Второе, что приходит в голову</span>
                </li>
                <li>
                    <a href="https://www.tinkoff.ru/travel/flights/">Тикькофф</a><br>
                    <span>Может быть кешбек</span>
                </li>
                <li>
                    <a href="https://www.ozon.ru/travel/">Озон</a><br>
                    <span>Неожиданный, но вариант</span>
                </li>
                <li>
                    <a href="https://travel.yandex.ru/avia/">Яндекс.Путешествия</a><br>
                    <span>И у Яндекса конечно свой сервис есть</span>
                </li>
            </ul>
            ''', 'row-span-2') }}

        {{ card('Где были 🌍',
            '''
<div class="flex flex-wrap gap-2" >
<li class="!my-0 !py-0"> <a>Спб</a> </li>
<li class="!my-0 !py-0"> <a>Нижний</a> </li>
<li class="!my-0 !py-0"> <a>Казань</a> </li>
<li class="!my-0 !py-0"> <a>Тула</a> </li>
<li class="!my-0 !py-0"> <a>Екат</a> </li>
<li class="!my-0 !py-0"> <a>Мурманск</a> </li>
<li class="!my-0 !py-0"> <a>Дагестан</a> </li>
<li class="!my-0 !py-0"> <a>Чечня</a> </li>
<li class="!my-0 !py-0"> <a>Армения</a> </li>
<li class="!my-0 !py-0">  <a>Белоруссия</a> </li>
<li class="!my-0 !py-0"> <a>Сочи</a> </li>
<li class="!my-0 !py-0"> <a>Сергиев-Посад</a> </li>
<li class="!my-0 !py-0"> <a>Подольск</a> </li>
<li class="!my-0 !py-0"> <a>Клин</a> </li>
</div>
''') }}


    </div>

{% endblock %}