
.grid-3-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

@media (max-width: 700px) {

    .grid-3-col {
        grid-template-columns: 1fr;
    }


}


.cols-2 {
    grid-column: auto / span 2;
}

@media (max-width: 700px) {

    .grid-3-col {
        grid-template-columns: 1fr;
    }

    .cols-2 {
        grid-column: auto / span 1;

    }

}


.cols-3 {
    grid-column: auto / span 3;
}

.rows-2 {
    grid-row: auto / span 2;
}

.rows-3 {
    grid-row: auto / span 3;
}

.rows-4 {
    grid-row: auto / span 4;
}

.rows-5 {
    grid-row: auto / span 5;
}

.rows-6 {
    grid-row: auto / span 6;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 16px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: white;

    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.card a {
    text-decoration: none;
}

.card-text {
    padding: 15px;


}

@media (max-width: 700px) {

    .card:hover {
        transform: none !important;
    }
}

