
.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.bold {
    font-weight: bold;
}

.small-font {
    font-size: 0.7rem;
}