{% from 'templates/components/icons.html' import chart_bar %}


{% macro habit_table(habits, habit_rows) %}

    <table class="table-fixed  w-fit " id="habit-table">
        <thead>
        <tr>
            <th class="w-[100px] text-center"> Привычка 👉 <br> Дата 👇</th>
            {% for habit in habits %}
                <th class="w-[100px] text-wrap ">{{ habit }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for date_, habit_statuses in habit_rows.items() %}
            <tr class="text-center">
                <td class="!p-0">{{ date_ }}</td>
                {% for status in habit_statuses.values() %}
                    <td class="!p-0 {% if status == '+' %}bg-green-200{% elif status == '-' %}bg-red-200{% endif %} text-center  border-neutral-400 border  relative ">
                        <span>{% if status == '+' %}➕{% elif status == '-' %}➖{% endif %}</span>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endmacro %}


{% macro habit_card(habit, overall_max_streak, overall_total_performings, overall_current_streak) %}
    <div class="card card-bordered card-compact   shadow habit-card" x-data="{showStats: false}">
        <div class="card-body gap-2">
            <div class=" flex-1">

                <div class="flex">
                    <div class="grow">
                        <h3 class=" !my-0">{{ habit.title }}</h3>

                    </div>
                    <button class="btn btn-ghost btn-sm" @click="showStats = !showStats">
                        {{ chart_bar('w-4 h-4') }}
                    </button>
                </div>

                <div class="desc !py-0">{{ habit.desc }}</div>
            </div>

            <div class="stats   stats-vertical grow" x-cloak x-show="showStats">

                <div class="stat md:px-0">
                    <div class="stat-title">Макс. стрик</div>
                    <div class="stat-value {% if habit.max_streak == overall_max_streak %}text-primary{% endif %}">{{ habit.max_streak }}</div>
                    <div class="stat-desc {% if habit.max_streak == overall_max_streak %}text-primary{% endif %}">
                        {% if habit.max_streak == overall_max_streak %}Самый большой стрик!{% endif %}</div>
                </div>
                <div class="stat md:px-0">
                    <div class="stat-title">Всего выполнено</div>
                    <div class="stat-value {% if habit.total_performings == overall_total_performings %}text-secondary{% endif %} ">{{ habit.total_performings }}</div>
                    <div class="stat-desc  {% if habit.total_performings == overall_total_performings %}text-secondary{% endif %}">
                        {% if habit.total_performings == overall_total_performings %}Больше всего
                            выполнений!{% endif %}</div>
                </div>
                <div class="stat md:px-0">
                    <div class="stat-title">Текущий стрик</div>
                    <div class="stat-value {% if habit.current_streak == overall_current_streak %}text-accent{% endif %} ">{{ habit.current_streak }}</div>
                    <div class="stat-desc {% if habit.current_streak == overall_current_streak %}text-accent{% endif %}">
                        {% if habit.current_streak == overall_current_streak %}Самый большой текущий стрик!{% else %}
                            По-тихонечку{% endif %}</div>
                </div>

            </div>

            <div>
                {% set weeks = 14 %}
                {% for day in range(7) %}
                    <div class="flex gap-1">
                        {% for week in range(weeks) %}
                            {% set i = day*weeks+week %}
                            {% set date_ = today_shift(7-(today_day) -weeks*7 + i%weeks*7 + i//weeks) %}
                            {% set perf = habit.get_performing(date_) %}
                            {% set status = perf.status %}
                            {% set nextStatus = '-' if status == '' else ('+' if status == '-' else '') %}

                            <div class="tooltip w-full" data-tip="{{ date_ }}">

                                <button hx-post="/habits/{{ habit.id }}/perform?date={{ date_ }}" hx-swap="outerHTML"
                                        hx-target="closest .habit-card" name="status" value="{{ nextStatus }}"
                                        class="aspect-square w-full rounded {% if date_ > today_date %}invisible{% endif %}  {% if status == '+' %}bg-success/20{% elif status == '-' %}bg-error/10{% else %}bg-neutral-50{% endif %}"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="card-actions flex-nowrap   ">
                <button class="btn btn-sm grow btn-error {% if habit.current_status != '-' %}btn-outline{% endif %}"
                        type="button" hx-post="/habits/{{ habit.id }}/perform" hx-swap="outerHTML"
                        hx-target="closest .habit-card" name="status" value="-">Проебал
                </button>
                <button class="btn btn-sm grow btn-success {% if habit.current_status != '+' %}btn-outline{% endif %}"
                        type="button" hx-post="/habits/{{ habit.id }}/perform" hx-swap="outerHTML"
                        hx-target="closest .habit-card" name="status" value="+">Сделал
                </button>
            </div>
        </div>
    </div>
{% endmacro %}


