{% from 'templates/components/icons.html' import check, x_mark %}


{% macro habit_table(habits, habit_rows) %}

    <table class="table-fixed  w-fit " id="habit-table">
        <thead>
        <tr>
            <th class="w-[100px] text-center"> Привычка 👉 <br> Дата 👇</th>
            {% for habit in habits %}
                <th class="w-[100px] text-wrap ">{{ habit }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for date_, habit_statuses in habit_rows.items() %}
            <tr class="text-center">
                <td class="!p-0">{{ date_ }}</td>
                {% for status in habit_statuses.values() %}
                    <td class="!p-0 {% if status == '+' %}bg-green-200{% elif status == '-' %}bg-red-200{% endif %} text-center  border-neutral-400 border  relative ">
                        <span>{% if status == '+' %}➕{% elif status == '-' %}➖{% endif %}</span>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endmacro %}


{% macro habit_card(habit) %}
    <div class="card card-bordered card-compact  dark:bg-gray-800 shadow habit-card" x-data="{showStats: false}">
        <div class="card-body gap-2">
            <div class=" flex-1">

                <div class="flex items-center">
                    <div class="grow">
                        <h3 class=" !my-0">{{ habit.title }}</h3>

                    </div>
                    <button class="btn btn-sm  btn-circle group  btn-success {% if habit.current_status == '+' %}btn-outline hover:btn-error{% else %}btn-ghost hover:btn-outline{% endif %}"
                            type="button" hx-post="/habits/{{ habit.id }}/perform" hx-swap="outerHTML"
                            hx-target="closest .habit-card" name="status"
                            value="{% if habit.current_status == '+' %}{% else %}+{% endif %}">
                        <div class="group-hover:block transition hidden">{{ x_mark()  if habit.current_status == '+' else check() }}</div>
                        <div class="group-hover:hidden block ">{{ check() }}</div>
                    </button>
                </div>

                {% if habit.dod %}
                    <div class="desc !pb-0"><span class="font-semibold">Чё</span>:{{ habit.dod }}</div>
                {% elif habit.desc %}
                    <div class="desc !pb-0"><span class="font-semibold">Чё</span>:{{ habit.desc }}</div>
                {% endif %}
                {% if habit.feedback %}
                    <div class="desc !pb-0"><span class="font-semibold">Фидбек</span>: {{ habit.feedback }}</div>
                {% endif %}
                {% if habit.goal %}
                    <div class="desc !pb-0"><span class="font-semibold">Цель</span>: {{ habit.goal }}</div>
                {% endif %}
            </div>


            {% if not habit.archive and not habit.fixed %}
                <div>
                    {% set weeks = 14 %}
                    {% for day in range(7) %}
                        <div class="flex gap-1">
                            {% for week in range(weeks) %}
                                {% set i = day*weeks+week %}
                                {% set date_ = today_shift(7-(today_day) -weeks*7 + i%weeks*7 + i//weeks) %}
                                {% set perf = habit.get_performing(date_) %}
                                {% set status = perf.status %}
                                {% set nextStatus = '' if status == '+' else '+' %}

                                <div class="tooltip w-full" data-tip="{{ date_ }} ({{ date_.strftime('%a').lower() }})">

                                    <button hx-post="/habits/{{ habit.id }}/perform?date={{ date_ }}"
                                            hx-swap="outerHTML"
                                            hx-target="closest .habit-card" name="status" value="{{ nextStatus }}"
                                            class="aspect-square w-full rounded {% if date_ > today_date %}invisible{% endif %}
{% if status == '+' %}bg-success/20 dark:bg-success/90{% else %}bg-neutral-50 dark:bg-gray-700{% endif %}"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}


        </div>
    </div>
{% endmacro %}


