{% macro habit_table(habits, habit_rows) %}

    <table class="table-fixed w-fit">
        <thead>
        <tr>
            <th class="w-28">Дата / Привычка</th>
            {% for habit in habits %}
                <th class="w-32 text-wrap ">{{ habit }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for date_, habit_statuses in habit_rows.items() %}
            <tr>
                <td class="">{{ date_ }}</td>
                {% for status in habit_statuses.values() %}
                    <td class="{% if status == '+' %}bg-green-200{% elif status == '-' %}bg-red-200{% endif %} text-center  border-neutral-400 border  relative ">
                        <span>{% if status == '+' %}➕{% elif status == '-' %}➖{% endif %}</span>
                        {#                            <button class="btn btn-sm btn-circle btn-ghost absolute right-0 top-0 opacity-0 hover:opacity-100">#}
                        {#                                ➖#}
                        {#                            </button>#}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endmacro %}