{# section: Секция с подсекциями/страницами, напр. Спешл #}
{# subsections: Как выводить подсекции: links - как ссылки на подразделы, last - только посл. подсекцию, None (по умол.) - page_section рекурсивно (подсекции и страницы)  #}
{% macro page_section(section,subsections=None,index='link',section_title_as='h2') %}

    {% set subsection_title_as = 'div' %}
    {% if section_title_as == 'h1' %}
        {% set subsection_title_as = 'h2' %}
    {% elif section_title_as == 'h2' %}
        {% set subsection_title_as = 'h3' %}
    {% endif %}


    <{{ section_title_as }}>
    {% if index == 'link' %}
        <a href="/{{ section.key }}">{{ section.title }}</a>
    {% else %}
        {{ section.title }}
    {% endif %}

    {% if section.dates %}<small class="text-gray-400">({{ section.dates }})</small>{% endif %}

    </{{ section_title_as }}>

    {% if section.pages %}
        <ul>
            {% for page in section.pages %}
                <li>
                <div>

                    <a class="link" href="{{ page.url }}">{{ page.title }}</a>
                    {% for tag in page.tags %}
                        <sup class="badge badge-primary">{{ tag }}</sup>

                        {% endfor %}
                </div>

                    <div class="desc">{{ page.desc }}</div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if section.subsections %}
        {% if subsections == 'last' %}
            {% for subsection in [section.subsections[0]] %}
                {{ page_section(subsection, index=None, section_title_as=subsection_title_as ) }}
            {% endfor %}
        {% elif subsections == 'links' %}
            <ul>
                {% for subsection in section.subsections %}
                    <li>
                        <a class="link" href="{{ subsection.url }}">{{ subsection.title }}</a>
                    {% if subsection.desc %}<div class="desc">{{ subsection.desc }}</div>{% endif %}

                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% for subsection in section.subsections %}
                {{ page_section(subsection, index=None, section_title_as=subsection_title_as ) }}
            {% endfor %}
        {% endif %}
    {% endif %}

{% endmacro %}


{% macro link_section(links, section_title, section_title_as='h2') %}
    <{{ section_title_as }}>{{ section_title }}</{{ section_title_as }}>
    <ul>
        {% for link in links %}
            <li><a class="link" href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}