{% from 'templates/components/core.html' import text_input %}


{% macro todo_task(task) %}
    <li>
        <div class="flex items-center space-x-2">

            <input class="checkbox checkbox-sm" name="done" id="done_{{ task.id }}" type="checkbox"
                   {% if task.done %}checked {% endif %}
                   hx-post="/todo/{{ task.id }}"
                   hx-trigger="click"
                   hx-swap="outerHTML"
                   hx-target="closest li"
                   class="mr-2"
            >
            <label for="done_{{ task.id }}"
                   class="text-sm"
                   style="flex-grow: 1; {% if task.done %}text-decoration: line-through {% endif %}">
                {{ task.title }}
            </label>
            <button class="btn btn-sm btn-circle btn-ghost" hx-get="/todo/{{ task.id }}/edit" hx-swap="outerHTML"
                    hx-target="closest li">✏️
            </button>
            <button class="btn btn-sm btn-circle btn-ghost" hx-delete="/todo/{{ task.id }}" hx-swap="delete"
                    hx-target="closest li">❌
            </button>
        </div>
    </li>
{% endmacro %}


{% macro todo_edit_task_form(task) %}
    <li>
        <form class="space-y-2">

            {{ text_input('title', 'Название', value=task.title) }}
            {{ text_input('category', 'Категория', value=task.category) }}


            <div class="flex justify-end space-x-2">

                <button class="btn btn-sm " hx-get="/todo/{{ task.id }}" hx-swap="outerHTML"
                        hx-target="closest li">✖️ Отменить
                </button>

                <button class="btn btn-sm " hx-post="/todo/{{ task.id }}/edit" hx-target="closest li"
                        hx-swap="outerHTML">💾 Сохранить
                </button>
            </div>
        </form>
    </li>
{% endmacro %}