{% macro todo_task(task) %}
    <li>
        <div style="display: flex" >

            <input name="done" id="done_{{ task.id }}"  type="checkbox" {% if task.done %}checked {% endif %}
                   hx-post="/todo/{{ task.id }}"
                   hx-trigger="click"
                   hx-swap="outerHTML"
                   hx-target="closest li"
            >
            <label for="done_{{ task.id }}" style="flex-grow: 1; {% if task.done %}text-decoration: line-through {% endif %}">
                {{ task.title }}
            </label>
            <button style="background: none; border: none" hx-delete="/todo/{{ task.id }}" hx-swap="delete" hx-target="closest li">❌</button>
        </div>
    </li>
{% endmacro %}

{% if task %}
    {{ todo_task(task) }}
{% endif %}