{% macro todo_task(task) %}
    <li>
        <div class="flex items-center space-x-2">

            <input class="checkbox checkbox-sm" name="done" id="done_{{ task.id }}" type="checkbox" {% if task.done %}checked {% endif %}
                   hx-post="/todo/{{ task.id }}"
                   hx-trigger="click"
                   hx-swap="outerHTML"
                   hx-target="closest li"
                   class="mr-2"
            >
            <label for="done_{{ task.id }}"
                   class="text-sm"
                   style="flex-grow: 1; {% if task.done %}text-decoration: line-through {% endif %}">
                {{ task.title }}
            </label>
            <button class="btn btn-sm btn-circle btn-ghost" hx-get="/todo/{{ task.id }}/edit" hx-swap="outerHTML"
                    hx-target="closest li">✏️
            </button>
            <button class="btn btn-sm btn-circle btn-ghost" hx-delete="/todo/{{ task.id }}" hx-swap="delete"
                    hx-target="closest li">❌
            </button>
        </div>
    </li>
{% endmacro %}

{% if task %}
    {{ todo_task(task) }}
{% endif %}