{% extends "_layouts/base.html" %}

{% from "_components/input.html" import input, textarea %}
{% from "_components/scripts.html" import htmx %}

{% block main %}
    <h2>route-gen</h2>
    {{ input('slug', 'mu', id='slug') }}

    {% set placeholder="""# region {slug}
@app.route('/{slug}')
def {slug}_page():
  return render_template('{slug}/index.html', page=deps.page)

# endregion {slug}""" %}

    {{ textarea('route', id='route', readonly=True,textarea_cls='font-mono',  placeholder=placeholder) }}

    <script>
        document.querySelector('#slug').addEventListener(
            'input', (e) => {
                const slug = e.target.value;

                let route;
                if (!slug) {
                    route = ''
                } else {
                    route = `# region ${slug}
@app.route('/${slug}')
def ${slug}_page():
  return render_template("${slug}/index.html", page=deps.page)

# endregion ${slug}`
                }

                document.querySelector('#route').value = route;
            }
        )
    </script>


    <h2>md-renderer</h2>

    <form hx-post hx-target="#html" >

        {{ textarea('md', id='md',textarea_cls='font-mono',  placeholder='# Title', name='md', required=True) }}
        <div class="flex justify-end pt-2">
            <button class="btn" type="submit" name="action" value="md_to_html">md > html</button>
        </div>
        {{ textarea('html', id='html', readonly=True,textarea_cls='font-mono',  placeholder='<h1>Title</h1>') }}
    </form>

    {{ htmx() }}

{% endblock %}


