{% extends "_layouts/base.html" %}

{% macro list_tools(tools, show_tags=False) %}
    <div class="flex flex-col gap-2">
        {% for tool in tools %}
            <div class="text-sm">
                <div><a href="{{ tool.url }}">{{ tool.title }}</a></div>
                <div>{{ tool.desc }}</div>

                {% if show_tags %}
                    <div class="flex flex-wrap gap-1">
                        {% for tag in tool.tags %}
                            <div><i>{{ tag }}</i></div> {% if not loop.last %}•{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% block main %}
    <h2>Закреп 📌</h2>
    {{ list_tools(pinned_tools) }}

    <h2>Обработка изображений / Image Processing</h2>
    {{ list_tools(image_tools) }}

    <h2>AI</h2>
    {{ list_tools(ai_tools) }}

    <h2>Python</h2>
    {{ list_tools(python_tools) }}

    <h2>Прочее</h2>
    {{ list_tools(tools, show_tags=True) }}

{% endblock %}
