{#
Базовый лейаут.
Тут выставляются seo-meta-теги, грузятся шрифты, стили, аналитика.
Из верстки тут header и main.s
#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- region SEO -->
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.desc }}"/>

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.desc }}">
    <!-- endregion SEO -->

    <!-- region Styles -->

    <!-- region Noto Sans Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <!-- endregion Noto Sans Font -->

    <!-- region Tailwind Compiled Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='output.css') }}">
    <!-- endregion Tailwind Compiled Styles -->

    <!-- region Custom styles -->
    {% block static %}{% endblock %}
    <!-- endregion Custom styles -->

    <!-- endregion Styles -->

</head>


<body class="uni-bg-body  max-w-none h-[max(100vh, 100%)]">

<header class="text-sm uni-bg">
    <div class="border-b py-2 uni-border flex items-baseline gap-1">
        <a class="btn btn-ghost btn-sm" href="/">∏⌀♰ʯԞ.ʯ⌀</a>
        <span class="">•</span>
        <a class="btn btn-ghost btn-sm " href="/sections">разделы</a>
        {#        <span class="">|</span> <a class="btn btn-ghost btn-sm " href="/">мысли</a>#}

        {% if not config.is_prod %}
            <span class="">•</span>
            <a class="btn btn-ghost btn-sm " href="/admin">админка</a>
        {% endif %}

    </div>


    {% if page.breadcrumbs | length > 1 %}
        <div class="breadcrumbs uni-border border-b mb-2">
            <ul class="!pl-3">
                <li>
                    <a class="link-hover " href="/">⌀</a>
                </li>
                {% for page in page.breadcrumbs[1:] %}
                    <li>
                        {% if loop.last %}
                            {{ page.breadcrumbs_title or page.title }}
                        {% else %}
                            <a class="link-hover " href="{{ page.url }}">{{ page.breadcrumbs_title or page.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

</header>

<main class="prose prose-sm md:prose-base   p-2 min-h-[80vh]
        {% if fullwidth %}{% else %}max-w-[1000px]{% endif %} mx-auto">
    {% block title %}
        <div class="my-2">
            <h1>{{ page.title | safe }}</h1>
            <cite class="block">{{ (page.desc or '') | safe }}</cite>
        </div>
    {% endblock %}

    {% block main %}{% endblock %}
</main>

<footer class="">
{#<div class="prose prose-sm md:prose-base max-w-none px-2 border-t py-4 uni-border mt-6">#}
{#    <div class="flex gap-2  justify-center ">#}
{#        <a href="https://t.me/+Wech5MYNgew3MTMy" class="btn  btn-ghost  relative">#}
{#            подпишись на телегу#}
{##}
{#            <span class="opacity-0">👉👈</span>#}
{##}
{#            <span class="animate-bounce-x-right absolute bottom-2 right-9">👉</span>#}
{#            <span class="absolute right-[24.5px]   top-3 ">🥺</span>#}
{#            <span class="animate-bounce-x-left absolute bottom-2 right-3">👈</span>#}
{#        </a>#}
{##}
{#    </div>#}
{#</div>#}
</footer>

</body>

{% block script %}

{% endblock %}
</html>