{#
Базовый лейаут.
Тут выставляются seo-meta-теги, грузятся шрифты, стили, аналитика.
Из верстки тут header и main.s
#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- region SEO -->
    <title>{{ title }}</title>
    <meta name="description" content="{{ desc }}"/>

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ desc }}">
    <!-- endregion SEO -->

    <!-- region Styles -->

    <!-- region Noto Sans Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <!-- endregion Noto Sans Font -->

    <!-- region Tailwind Compiled Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='output.css') }}">
    <!-- endregion Tailwind Compiled Styles -->

    <!-- region Custom styles -->
    {% block static %}{% endblock %}
    <!-- endregion Custom styles -->

    <!-- endregion Styles -->
</head>

<!-- region GA & YaMetrika -->
{% if config.is_prod %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5WTE0KE6PT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-5WTE0KE6PT');
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) {
                if (document.scripts[j].src === r) {
                    return;
                }
            }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(82960681, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/82960681" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
{% endif %}
<!-- endregion GA & YaMetrika -->

<body class="uni-bg-body  max-w-none">

<header class="text-sm uni-bg">
    <div class="border-b py-2 uni-border flex items-baseline gap-1">
        <a class="btn btn-ghost btn-sm" href="/">∏⌀♰ʯԞ.ʯ⌀</a>
        {#        <span class="">|</span> <a class="btn btn-ghost btn-sm " href="/">разделы</a>#}
        {#        <span class="">|</span> <a class="btn btn-ghost btn-sm " href="/">мысли</a>#}

        {% if not config.is_prod %}
            <span class="">|</span> <a class="btn btn-ghost btn-sm " href="/admin">админка</a>
        {% endif %}

    </div>


    {% if page.breadcrumbs | length > 1 %}
        <div class="breadcrumbs uni-border border-b mb-2">
            <ul class="!pl-3">
                {#            <ul >#}
                {#            <ul class="!pl-0">#}
                {% if page %}
                    <li>
                        <a class="link-hover " href="/">⌀</a>

                    </li>
                    {% for page in page.breadcrumbs[1:] %}
                        <li>
                            {% if loop.last %}
                                {{ page.breadcrumbs_title }}
                            {% else %}
                                <a class="link-hover " href="{{ page.url }}">{{ page.breadcrumbs_title }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li>
                        <a href="/">потик.ио</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

</header>

<main class="prose   p-2 min-h-[80vh] {% if fullwidth %}{% else %}max-w-[1000px]{% endif %} mx-auto">
    {% block title %}
        {% if page %}
            <div class="my-2">
                <h1>{{ page.title | safe }}</h1>
                <cite class="block">{{ (page.desc or '') | safe }}</cite>
            </div>
        {% endif %}
    {% endblock %}

    {% block main %}{% endblock %}
</main>

<footer class="prose max-w-none px-2 border-t py-4 uni-border mt-6">

    <div class="flex gap-2  justify-center ">
        <a href="https://t.me/potyk_forever" class="btn  btn-ghost  relative">
            подпишись на телегу

            <span class="opacity-0">👉👈</span>

            <span class="animate-bounce-x-right absolute bottom-2 right-9">👉</span>
            <span class="absolute right-[24.5px]   top-3 ">🥺</span>
            <span class="animate-bounce-x-left absolute bottom-2 right-3">👈</span>
        </a>

    </div>

    {#    <div class="flex items-baseline justify-end gap-1 ">#}
    {#        <a class="btn btn-ghost btn-sm " href="https://t.me/potyk_forever">канал в тг</a>#}
    {#        <span >|</span>#}
    {#        <a class="btn btn-ghost btn-sm " href="https://t.me/potykion">я в тг</a>#}
    {#    </div>#}
</footer>

</body>

{% block script %}
{% endblock %}
</html>