









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-4"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Музыкальные новиночки</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/mu/Nails-Imposing-Will.jpg">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">Nails — Imposing Will</div>

            
                <audio controls class="w-full border-t border-neutral dark:border-gray-700" src="http://potyk.io/static/images/mu/Nails-Imposing-Will.mp3"></audio>
            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Ой богат день сегодня на новиночки: альбом от попробовал, ипиха от бойз нойз, альбум от супчика, синг от контейнера, систем 108 не останавливают трейн из компил, альбом от пегги гу, которая написала инструментал для писят двааа ремекса

Но самое главное - это конечно сингл от нейлз! Тук-тук-тук-тук, ждем альбум!!!


        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-06-14</div>

</div>









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Ура</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            <div>
Я разъебался, и идея с фидом мне все же нравится, велком ту в4.2. Все это время вел фид в тележке (https://t.me/potyk_forever), так что лог жизни не забрасывал, а фид захотелось вернуть из-за структуры.
</div><br>
<div>
Ща потихоньку буду перекачевывать из телеги, вспоминать что было, а новье буду репостить в телегу в том числе, кросс-постинг получается
</div>



        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-06-13</div>

</div>









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Ура</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Меня заебало вести фид: как обычно никакой обратной связи, да и я сам лишь проверяю что верстка не поехала, и деньки сливаются в один.
 <br><br>
Ладно, пацаны, потик-ио в4.1 F. 
<br><br>
До встречи, пока мне снова не захочется что-то делать. 
<br><br>
Совсем на блог конечно забивать не буду, буду как минимум рецептики заводить, но событий в жизни пока нет.  

        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-09</div>

</div>









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Трек дня</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/mu/yellow-branch.jpg">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">Жёлтая Ветка — Насрали чуть поплотнее</div>

            
                <audio controls class="w-full border-t border-neutral dark:border-gray-700" src="http://potyk.io/static/audio/yellow-branch-nasrali-chut-poplotnee.mp3"></audio>
            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Самовар... с гашишем...
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-08</div>

</div>









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Финансы</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/fund.jpg">
        </div>
    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Эх, придумал, как мне казалось, гениальную страту - лутать копейки на фонде, но бля сидит пердим в стакане, без какого-либо движения, эх
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-08</div>

</div>









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Продуктивность</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/pomodoro.png">
        </div>
    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Седня возвращаемся к работе помидорами, надеюсь, не заебет, не будет ощущения что я ебаный робот (хотя оно и без помодоро имеется), как это было несколько лет назад
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-08</div>

</div>









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Пьем</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/method.jpg">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">Method Beer</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Типикал крафтовуха, зато посуда прикол
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-08</div>

</div>









    



<a href="https://ra.co/events/1865078"
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">События</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/outdoor.webp">
        </div>
    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Хах Игоречек сходил на ноу-нейм хаус-техно ивент, и походу говна поел, а в Белграде-то движухи есть
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-07</div>

</a>









    



<a href="/special/nsk-2024"
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-1"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">События</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Ну а мы в Россиюшке, в Новосиб собираемся, накидал планчик, в программе: пиво, беляшики, медовуха, хвост бобра, губа лося 
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-07</div>

</a>









    



<a href="/all"
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-1"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Бложе</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Понял что секции/разделы - это штука ненужная, само содержимое страницы - это раздел, а сидеть заниматься раскладыванием по папочкам - дело бесполезное, так что теперь есть страница со всеми страницами этого бложика, что-то типа сайтмапы 
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-07</div>

</a><div class="flex justify-center mt-4 md:col-span-3" hx-target="this" hx-get="/feed/1.html" hx-swap="outerHTML">
    <button class="btn btn-primary btn-wide">Загрузить еще</button>
</div>