











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Чтото на экономном</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/pedant.jpg">
        </div>
    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            <p>Нихуа педант, которые телефоны чинит, придумал продавать телефоны как подписку, а также возможность за нормальный (наверное) прайс продавать свой старый тел. А ещё есть маркетплейс где продают бу телефоны</p>

        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-06-24</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Кино</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/movies/inside-out-2jpg">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700" style="text-wrap: balance">Головоломка 2</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Головоломка 2 как обычно 10 на 10, на слезы пробивает

Интересно в следующей части у гг будет 18 будет секс тревога, потом в 4 части будет 30ка и придут депрессия и выгорание?)))
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-06-24</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Работка</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700" style="text-wrap: balance">Айти Крысячество </div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            <p>На недельке подвыебали мозги по поводу того что задачу не в ту ветку слил и все пошло по пизде. И я считаю что фраза &quot;ветка релиз&quot; и ничего более - просто приписка незначительная, которую начинаешь игнорировать когда все предыдущие задачи имели приписку &quot;ветка девелоп&quot;, и эта приписка нихуя не обозначает что &quot;задачу делаем ветвлясь от релизной ветки&quot;. &quot;ну в задаче же была написана ветка&quot; - бля ахуеть аргумент. Блядь если это так важно, что от неисполнения этого все по пизде идёт, то нужно наверное блядь писать понятнее (как я указал выше), и на этапе код блядь ревью такое чекать, а не просто лгфм, чек-лист блядь сделать, авто валидацию на основе задачи в джире - но нет блядь, давай меня ебать. Бля а тим лид хорош, вместо того чтобы улучшать жизнь разрабам, го жаловаться начальству)))</p>
<p>Бля, их просто на самом деле ебет что сроки сдвинулись, их не интересуют ни я, ни код, просто пассивно прогрессировали и &quot;поработай на выхах плиз&quot;, чтобы в сроки успеть. Даже если бы я изначально сделал задачу в нужной ветке, текущую задачу я бы все равно заканчивал бы в понедельник, а это уже поздно и все равно пришлось бы поработать на выхах. Бля с мудаками работаю. Нахуй им чето доказывать. &quot;Блин, сорян.&quot; и все, и пошли нахуй</p>

        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-06-21</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Здоровье</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/lifesum.jpg">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700" style="text-wrap: balance">Пить пиво и есть бургеры не бросим</div>

            
        </div>
    

    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-06-21</div>

</div>













    



<a href="https://potyk.io/perf"
class="no-underline  dark:hover:bg-gray-800 dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-1"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Статейки</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/pulse.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700" style="text-wrap: balance">Средство от тревоги что мало ебашишь</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            <p>Обновил статейку по Продуктивности, трекать рабочий пульс - тема</p> 
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-06-21</div>

</a>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Френдс</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/lynch.jpg">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700" style="text-wrap: balance">Созвончик с Игоречком, теперь он как Линч)))</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            <p>Забыл скрин беседы сделать в суете, но побазарили добротно, обсудили Сербию - там движово, повспоминали золотые времена</p>

        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-06-20</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Работка</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/naberu.jpg">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700" style="text-wrap: balance">По сему, подумал что может произойти и вроде бы ДЕРЖИМ ЩИТЫ 🛡️🛡️🛡️</div>

            
        </div>
    

    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-06-20</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-1"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Страшное</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/naberu-msg.jpg">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700" style="text-wrap: balance">Сообщение, от которого сердце начинает колотиться быстрее, и кровь стынет в жилах</div>

            
        </div>
    

    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-06-20</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Технолоджи</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    
        <iframe  src="https://www.youtube.com/embed/Q4chkMWdAYw?si=s4axkWGd9FO0m7nc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700" style="text-wrap: balance">Наконец-то Питон ожил, новые фреймворки как на дрожжах</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            <p>FastAPI начали вытеснять ново-модненькие фреймворки аля Litestar, Esmerald - наконец-то глоток свежего воздуха, ну я продолжаю хуячить на Джанге и Фласке)))</p>

        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-06-19</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-1"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Мьюзик</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    
        <iframe  src="https://www.youtube.com/embed/iStiV1eBiV8?si=3UqiOWPFzL-RbPKI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700" style="text-wrap: balance">Новы видик от Пепегмафии со стильком Хорроров</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Мрачнячок, компьюктерные интерфейсы, шумок - харош
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-06-19</div>

</div><div class="flex justify-center mt-4 md:col-span-3" hx-target="this" hx-get="/feed/2.html" hx-swap="outerHTML">
    <button class="btn btn-primary btn-wide">Загрузить еще</button>
</div>