













    



<a href="https://www.tinkoff.ru/invest/help/situation/844/"
class="no-underline  dark:hover:bg-gray-800 dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Новости финансов</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/tink-sell-blocked.png">
        </div>
    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Ооо наконец-то можно потихоньку продавать финекс за нормальный прайс урааа
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-29</div>

</a>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Рабочий момент</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-4 border-t border-neutral dark:border-gray-700 p-no-mt">
            Мда, как же все сломано на работке, а в предрелизье - так тем более: инфра деплой не может починить, тимлид проебывается со встречами, тестирование ебет мозги, а ПМ в облаках витает, и все это сопровождается лютым сумбуром - ахуенно #воттакоевотайти #всемьевседолжнобытьпоровну
            
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-29</div>

</div>













    



<a href="https://untappd.com/b/steppe-and-wind-meadery-step-i-veter-blueberry-and-blackberry-bochet/5017902"
class="no-underline  dark:hover:bg-gray-800 dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Рекомендую пивас</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            
                
            

            
            
                
            

            <img class="rounded-none w-20 p-2"
                 src="http://potyk.io/static/images/beer/siv-blueberry-and-blackberry-bochet.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center border-t border-neutral dark:border-gray-700 ">

            <div class="font-semibold text-center " style="text-wrap: balance">Steppe & Wind — Blueberry And Blackberry Bochet</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Ммм фруктовое вино кайф Летний, фестивальный вайййб


        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-29</div>

</a>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Мысли</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-4 border-t border-neutral dark:border-gray-700 p-no-mt">
            Новая главная - красивая, в духе газеты, но теперь хочется каждый день такое делать - где взять время,
                желание и контент на каждый день???
                <br><br>
                Первая мысль - упрощать, делать все шаблонно: блок под кино, блок под музыку - как щас, только брать
                данные из базы и рендерить джинжей.
                <br><br>
                Ну окей это сэкономит время и силы, а с контентом что? Если ничего не произошло за день, просто
                день-пердень - что тогда?
                <br><br>
                Ну, жить интересную жизнь можно хех мда.
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-28</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center italic">#pizdalupasit</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/mu/Serum-Aint-No-Way-2024.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center border-t border-neutral dark:border-gray-700 grow">

            <div class="font-semibold text-center " style="text-wrap: balance">Serum, The Riddler — Ain't No Way 2024</div>

            
                <audio controls class="w-full border-t border-neutral dark:border-gray-700" src="http://potyk.io/static/audio/Serum-Aint-No-Way-2024.mp3"></audio>
            
        </div>
    

    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-28</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Еда дня</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            
                
            

            <img class="rounded-none  p-2"
                 src="http://potyk.io/static/images/food/kom-rang-bo.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center border-t border-neutral dark:border-gray-700 ">

            <div class="font-semibold text-center " style="text-wrap: balance">Ком 1989 — Ком Ранг Бо</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Большая порция ебейшего жареного рисика с говяжкой, горошком,
                морковкой и яичком, а со
                шрирачей еще кайфовее
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-28</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-4"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Видео дня</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    
        <iframe  src="https://www.youtube.com/embed/pdlDxSJcuwY?si=RegiHy2495t7qacL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    


    
        <div class="flex flex-col justify-center border-t border-neutral dark:border-gray-700 ">

            <div class="font-semibold text-center " style="text-wrap: balance">Как волчистость рушит карьеру?</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-4 border-t border-neutral dark:border-gray-700 p-no-mt">
            Гость нелепейший: тупа пухляш, который из-за двойного стресса на работе переедал, покуривая калик - мда.
                А работать не из дома, а например из коковоркинга, где еды просто нет - не пробовал? Жесть, чел ебашить
                по 12-14 может, а ворк-лайф баланс не может, мдааа. <br>Но конечно нужно больше подобных видосов: когда
                я вижу слабаков, которые спустя год ливают, - это радует
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-28</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Рабочий момент</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Бля я ещё помимо ежедневного фида хочу после каждого бага делать пост-мортем в виде
                документации, но если с фидом ещё можно что-то придумать (в телефоне там писать), то как на мобиле
                название классов писать - пока непонятно 🤔
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-28</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-4"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Фото дня</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/chemodan.jpg">
        </div>
    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Пришло время попрощаться с чемоданчиком<br>
                Лишь один человек знал о его содержимом😏
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-28</div>

</div>













    



<a href="https://www.kinopoisk.ru/film/51439/"
class="no-underline  dark:hover:bg-gray-800 dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-4"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Что посмотреть</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/movies/kiss-kiss-bang-bang.webp">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center border-t border-neutral dark:border-gray-700 ">

            <div class="font-semibold text-center " style="text-wrap: balance">Поцелуй на вылет — 2005</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Фильм - амфетаминовый: все происходит быстро, сумбурно, а потом и
                вовсе в бред переходит; кинцо с ебанцой - такое мы любим
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-27</div>

</a><div class="flex justify-center mt-4 md:col-span-3" hx-target="this" hx-get="/feed/12.html" hx-swap="outerHTML">
    <button class="btn btn-primary btn-wide">Загрузить еще</button>
</div>