









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Рабочий момент</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-4 border-t border-neutral dark:border-gray-700 ">
            Ох, пятница - день тяжёлый: и плавание все силы забирает, и рабочий день начинается позже - гораздо
                больше хотел успеть, но не судьба, надо с ЖЕНОЙ идти кушать. С другой стороны, главные/важные дела, типа
                блога, сделал - может так и надо свое время тратить? Задвигать что не важно до самого конца, а что важно
                - кровь из носу должно быть сделано
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-30</div>

</div>









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-1"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Мысли</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-4 border-t border-neutral dark:border-gray-700 ">
            Зачем вообще фид? Идея проста - прожитый день как-то материализовать (хотя скорее виртуализировать). Идея перенести себя в иной мир, в мир фантазий, в мир интернета, ведь любое творчество живёт отдельно от автора, и все что в интернете редко похоже на реальность, в интернете все так преувеличено, не естественно. Мои дни будут не просто протекать впустую, а превращаться в проекцию, которую каждый будет читать по-своему, то есть прикинь не просто комп-телик-кровать, а творчество, художественное оформление!

            
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-29</div>

</div>









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center italic">#pizdalupasit</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    
        <iframe height="500" src="https://www.youtube.com/embed/Uivp-hvk-nk?si=1dpVPQsZU9GAQn-X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">Venjent — Open the Door</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Чел семплирует бытовые звучки с драмчиком - индастриал днб получается 🤔
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-29</div>

</div>









    



<a href="/stuff/recipes/pasta-salmon"
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Рецепт дня</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            
                
            

            <img class="rounded-none  p-2"
                 src="http://potyk.io/static/images/food/pasta-salmon.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">Спагетти с лососем в сливочном соусе</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Эх, рецептики - самое легкое, что можно в блог закидывать, уже несколько раз это топ пасту делал, а все не записал в рецы - пора бы
            
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-29</div>

</a>









    



<a href="https://www.tinkoff.ru/invest/help/situation/844/"
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Новости финансов</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/tink-sell-blocked.png">
        </div>
    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Ооо наконец-то можно потихоньку продавать финекс за нормальный прайс урааа
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-29</div>

</a>









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Рабочий момент</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-4 border-t border-neutral dark:border-gray-700 ">
            Мда, как же все сломано на работке, а в предрелизье - так тем более: инфра деплой не может починить, тимлид проебывается со встречами, тестирование ебет мозги, а ПМ в облаках витает, и все это сопровождается лютым сумбуром - ахуенно #воттакоевотайти #всемьевседолжнобытьпоровну
            
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-29</div>

</div>









    



<a href="https://untappd.com/b/steppe-and-wind-meadery-step-i-veter-blueberry-and-blackberry-bochet/5017902"
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Рекомендую пивас</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            
                
            

            
            
                
            

            <img class="rounded-none w-20 p-2"
                 src="http://potyk.io/static/images/beer/siv-blueberry-and-blackberry-bochet.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">Steppe &amp; Wind — Blueberry And Blackberry Bochet</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Ммм фруктовое вино кайф Летний, фестивальный вайййб


        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-29</div>

</a>









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Мысли</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-4 border-t border-neutral dark:border-gray-700 ">
            Новая главная - красивая, в духе газеты, но теперь хочется каждый день такое делать - где взять время,
                желание и контент на каждый день???
                <br><br>
                Первая мысль - упрощать, делать все шаблонно: блок под кино, блок под музыку - как щас, только брать
                данные из базы и рендерить джинжей.
                <br><br>
                Ну окей это сэкономит время и силы, а с контентом что? Если ничего не произошло за день, просто
                день-пердень - что тогда?
                <br><br>
                Ну, жить интересную жизнь можно хех мда.
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-28</div>

</div>









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center italic">#pizdalupasit</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/mu/Serum-Aint-No-Way-2024.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">Serum, The Riddler — Ain&#39;t No Way 2024</div>

            
                <audio controls class="w-full border-t border-neutral dark:border-gray-700" src="http://potyk.io/static/audio/Serum-Aint-No-Way-2024.mp3"></audio>
            
        </div>
    

    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-28</div>

</div>









    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Еда дня</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            
                
            

            <img class="rounded-none  p-2"
                 src="http://potyk.io/static/images/food/kom-rang-bo.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">Ком 1989 — Ком Ранг Бо</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 ">
            Большая порция ебейшего жареного рисика с говяжкой, горошком,
                морковкой и яичком, а со
                шрирачей еще кайфовее
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-28</div>

</div><div class="flex justify-center mt-4 md:col-span-3" hx-target="this" hx-get="/feed/7.html" hx-swap="outerHTML">
    <button class="btn btn-primary btn-wide">Загрузить еще</button>
</div>