













    



<a href="https://www.jetbrains.com/pycharm/whatsnew/"
class="no-underline  dark:hover:bg-gray-800 dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Тех контент</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/pycharm-2024-1.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center border-t border-neutral dark:border-gray-700 ">

            <div class="font-semibold text-center " style="text-wrap: balance">PyCharm 2024.1</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Опачки, новый Пучарм! Из того что зацепило:

<ul>
<li>Новый терминал - теперь каждая команда отображается в своем блочке</li>
<li>Single Record View - теперь можно редачить записи в бд по одной, а это значит можно не делать круды, а править через иде</li>
</ul>
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-04</div>

</a>













    



<a href="/stuff/recipes/gratin"
class="no-underline  dark:hover:bg-gray-800 dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Рецептики</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/food/graten.jpg">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center border-t border-neutral dark:border-gray-700 ">

            <div class="font-semibold text-center " style="text-wrap: balance">Картофельный Гратен с цветной капустой и рыбой</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Седня запеканочки завел
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-04</div>

</a>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Мысли</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/slave.jpg">
        </div>
    

    

    


    

    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-04</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Опять про еду</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/beer-and-cooking.jpg">
        </div>
    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Кукинг и пиво - то что меня держит в этом мире
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-04</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-4"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Рабочий момент</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/feed/work.jpg">
        </div>
    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            День созвонов - люблю такое: ничо делать не надо, сидишь (лично я сегодня, науши в уши и пошел-поехал к зае под созвон) и слушаешь, изредка что-то говоря. Ещёб не надо было работать часами, вообще бы только бы на них сидел - нехитрая работёнка.
Хах ещё помню прикол интрнетный, типа фича, которая показывает стоимость митинга. И тип сегодня был созвон почти на 100 человек, и если очень грубо прикинуть что стоимость часа работы = 1000, то такой созвон обошёлся компании в 100к хех 
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-04</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-1"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Мысли</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-4 border-t border-neutral dark:border-gray-700 p-no-mt">
            Настроение - ебланить весь день. Этим и займусь, пожалуй. Ночную верстку поправлю, в архивах поковыряюсь, крч тот самый день-пердень, ничего интересного не планируется, тупа энергосберегательный режим 😪
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-03</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Мьюзик</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    
        <iframe  src="https://www.youtube.com/embed/4wqxcVToLYk?si=Gb7oLgDgf9UEKPhK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    


    
        <div class="flex flex-col justify-center border-t border-neutral dark:border-gray-700 ">

            <div class="font-semibold text-center " style="text-wrap: balance">Flowdan | Bars of Steel</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Батя Флоудан "тупа разминается" (каждый видос с ним - это всегда разъебнейший флоу)
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-03</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Еда дня</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/food/meller-banana.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center border-t border-neutral dark:border-gray-700 ">

            <div class="font-semibold text-center " style="text-wrap: balance">Meller Банан</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Прикинь Меллер (ириска) с БАНАНОМ, это и звучит ебануто, и на вкус внезапно заебато! Не приторно, банан дает собсна вкус банана и свежесть - оч кайфово 
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-03</div>

</div>













    



<a href="/stuff/recipes/asian-fried-rice"
class="no-underline  dark:hover:bg-gray-800 dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-4"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Рецептик</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/recipes/asian-fried-rice.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center border-t border-neutral dark:border-gray-700 ">

            <div class="font-semibold text-center " style="text-wrap: balance">Жареный рисик в азиатском стиле</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Наипростейшая азиаточка: тупа все что есть в холодосе сваливаешь в сковороду вместе с рисом, поливаешь парой соусов - и вуа ля
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-03</div>

</a>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center shrink">
        <div></div>
        <div class="grow font-semibold text-center ">Рабочий момент</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-4 border-t border-neutral dark:border-gray-700 p-no-mt">
            бля как оптимизировать потребляемые мощности? вчера весь день дрочился с таск кью, так и не понял до конца в чем разница между rate / batch_size / max_concurrent_requests, но вроде бы уменьшение рейта помогло. Плюс ещё, опять же вроде бы, помогает запуск тасок во временном окне, типа просто запускаешь таски с рандомным каунт дауном и получаешь снижение потребления мощностей в моменте - какова красота (на самом деле это и есть рейт). Вообще чёт трудно искать кореляции, хочется начать все сначала, пилить сервис в вакууме, но это невозможно 💀
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-04-03</div>

</div><div class="flex justify-center mt-4 md:col-span-3" hx-target="this" hx-get="/feed/8.html" hx-swap="outerHTML">
    <button class="btn btn-primary btn-wide">Загрузить еще</button>
</div>