











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-1"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Рабочий момент</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-4 border-t border-neutral dark:border-gray-700 p-no-mt">
            Работа на выхах номер 1 - упаковка стаффа, ну и бля у нас вещичек, думал коробок 20 будет достаточно, и так оно и выходило, пока не начал упаковывать кухню - жесть там коробок 6-7 ушло + пару пакетов - капец мы кукеры. И если вас выгоняют за месяц, то лучше с самого начала этого месяца укладываться, а не за пару недель до выезда заказывать только коробки
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-31</div>

</div>













    



<a href="https://untappd.com/v/superhmel/10587734"
class="no-underline  dark:hover:bg-gray-800 dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Пивная рубрика</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            
                
            

            <img class="rounded-none  p-4"
                 src="http://potyk.io/static/images/beer/super-hop.jpg">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">СуперХмель</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Уже второй раз сюда приезжаем и очень радуют цены, это тебе не наценки под соусом "ну у нас же лояльность", тут тебе Аингер за 270 - это вообще где видано, уже в ВВ за 300+, а тут как по-божески
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-31</div>

</a>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-1"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Пивные мысли</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-4 border-t border-neutral dark:border-gray-700 p-no-mt">
            Ну и посещая такие магазы появляется все больше желания пилить базу пива с индексом цен, и соответственно выгодно закупаться, а не тратить на пиво 10к / месяц, я уже потихоньку начал, но нужно больше пивных парсеров и маппингов, а также картинок, тут уже не Бир гейство, а Бир задротство - уже не шутки
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-31</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Еда дня</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            
                
            

            <img class="rounded-none  p-2"
                 src="http://potyk.io/static/images/food/Laghman.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">Лагманная 24 — Лагман</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Лучший лагман в городе (ну как в городе, под Москвой, в Немчиновке). Как же он хорош: и лапша отличная, мягенькая, и мяско, и бульон не тупа мясной, а со всякими овоща - просто идеал
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-31</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-1"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Тех контент</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/dev/feed_card.png">
        </div>
    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Постенно двигаюсь к тому чтобы генерить фид из бд, а не как сейчас лютый копипаст; и за выхи успел вынести генерацию карточек, и теперь страница фида занимает лишь несколько типовых строк
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-31</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-1"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Мысли</div>
        <div class="pr-1">
            
        </div>
    </div>


    

    

    


    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Хм, да, телефон сильно упрощает формирование фида: тупа пришла мысля - записал, и потом просто решаешь включать в фид иди нет
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-30</div>

</div>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Музыкальная новиночка</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            

            <img class="rounded-none  "
                 src="http://potyk.io/static/images/mu/biicla-hyper-house.jpg">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">Biicla — HYPER HOUSE</div>

            
                <audio controls class="w-full border-t border-neutral dark:border-gray-700" src="http://potyk.io/static/audio/Biicla%20GAS%20(4.19).mp3"></audio>
            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Новиночка от Biicla - молодой наш пацан делает музон в британском стиле: хаусец, техно, бейслайн - хорош, ну и без вдохновления от фред эгейна не обошлось
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-30</div>

</div>













    



<a href="https://untappd.com/b/velka-morava-zolotoy-yarlyk-zolotoj-yarlyk/411903"
class="no-underline  dark:hover:bg-gray-800 dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-2"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Рекомендую пивас</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            
                
            

            
            
                
            

            <img class="rounded-none w-20 p-2"
                 src="http://potyk.io/static/images/beer/velka-zolotoy-yarlyk.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">Velka Morava — Золотой Ярлык</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Хороший насыщенный лагерок, и хмели на месте, и солодок балансирует сладостью, и не вода - топчик
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-30</div>

</a>











    



<div
class="no-underline  dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-3"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Еда дня</div>
        <div class="pr-1">
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            
                
            

            <img class="rounded-none  p-2"
                 src="http://potyk.io/static/images/food/udon.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">Udon Noodle Bar — Лапша удон с мраморной говядиной и говяжьим бульоном</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Попробовали новую хайповую лапшичку из Краснодара - не зря хвалят, добротная: крепкий бульон, хорошая лапша, вкусная говяжка - зачет
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-30</div>

</div>













    



<a href="https://dewatermark.ai"
class="no-underline  dark:hover:bg-gray-800 dark:text-gray-200 rounded-xl shadow border flex-col flex border-neutral dark:border-gray-700 row-span-1"
>

    <div class="flex items-center">
        <div></div>
        <div class="grow font-semibold text-center ">Тулза дня</div>
        <div class="pr-1">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ">
                    <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                    <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
                </svg>
            
        </div>
    </div>


    
        <div class=" flex justify-center border-t border-neutral dark:border-gray-700">

            
            

            
            
                
            

            <img class="rounded-none  p-4"
                 src="http://potyk.io/static/images/tech-tools/dewatermark.png">
        </div>
    

    

    


    
        <div class="flex flex-col justify-center ">

            <div class="font-semibold text-center border-t border-neutral dark:border-gray-700">dewatermark.ai</div>

            
        </div>
    

    
        <div class=" text-sm font-normal grow p-2 border-t border-neutral dark:border-gray-700 p-no-mt">
            Удаление вотермарок без всяких триалов, именно с помощью нее убрал вотерку с пиваса
        </div>
    

    <div class="text-sm text-right text-neutral-300 dark:text-neutral-700 p-2">2024-03-30</div>

</a><div class="flex justify-center mt-4 md:col-span-3" hx-target="this" hx-get="/feed/10.html" hx-swap="outerHTML">
    <button class="btn btn-primary btn-wide">Загрузить еще</button>
</div>