{% extends "_layouts/blank.html" %}

{% block main %}

    <div class="flex space-x-4 items-center">
        <div class="avatar">
            <div class="w-20 h-20 rounded">
                <img src="/static/images/me.jpg"/>
            </div>
        </div>


        <div>
            <div class="text-3xl font-semibold text-gray-800">Лейбович Никита <br> Python Разработчик </div>
        </div>
    </div>

    <ul>
        <li>
            <b>Желаемая зарплата:</b> 350 000 ₽ / мес. • 2500 ₽ / час • ИП
        </li>
        <li><b>Навыки:</b> Django • Flask • PostgreSQL • RabbitMQ • Redis</li>
        <li><b>Open Source:</b>
            <a href="https://github.com/pydantic/pydantic/pull/444">pydantic#444</a> •
            <a href="https://github.com/yc-actions/yc-sls-container-deploy/pull/427">yc-sls-container-deploy#427</a>
            •
            <a href="https://github.com/python/typeshed/pull/2278">typeshed#2278</a>
        </li>
        <li>
            <b>Мои проекты:</b>
            <a href="https://github.com/potykion/jinja2xlsx">jinja2xlsx</a> •
            <a href="https://github.com/potykion/my-vk-likes">my-vk-likes</a> •
            <a href="https://github.com/potykion/repka">repka</a></li>
        <li>
            <b>Образование</b>: <a href="https://www.hse.ru/ba/se/">НИУ ВШЭ ФКН ПИ</a> • 2014 — 2018
        </li>

        <li>
            <b>Контакты:</b>
            <a href="mailto:potykion@gmail.com">Почта</a> •
            <a href="https://t.me/potykion">Телеграм</a> • <a href="https://github.com/potykion">GitHub</a>
        </li>
    </ul>

    <h3>Опыт работы</h3>

    <h4><a href="https://www.agora.ru/">AGORA</a> • 2023 — 2024</h4>
    <table>
        <tbody>
        <tr>
            <td><i>Сфера</i></td>
            <td>Заказная разработка • Системы Электронных Закупок, SRM, E-Commerce</td>
        </tr>
        <tr>
            <td><i>Стек</i></td>
            <td>Django • Pydantic • Celery • Kafka • Vue.js</td>
        </tr>
        <tr>
            <td><i>Достижения</i></td>
            <td> Разделы Системы Электронных Закупок для РЖД и SRM для НЛМК под ключ

            </td>
        </tbody>
    </table>



    <h4><a href="https://lins.ru/">LINS</a> • 2021 — 2023</h4>
    <table>
        <tbody>
        <tr>
            <td><i>Сфера</i></td>
            <td>Медтех • ПО для медицинских учреждений для проведения КТ, МРТ, УЗИ</td>
        </tr>
        <tr>
            <td><i>Стек</i></td>
            <td>Django • Redis • pandas • PostgreSQL</td>
        </tr>
        <tr>
            <td><i>Достижения</i></td>
            <td> Интеграция с ЕРИС ЕМИАС • Масштабирование бд • Синхронизация медицинских организаций
            </td>
        </tbody>
    </table>


    <h4><a href="https://kometa.fit/">Kometa.Fit</a> • 2019 — 2021</h4>

    <table>
        <tbody>
        <tr>
            <td><i>Сфера</i></td>
            <td>Фитнес • Бекенд для сети фитнес-клубов Kometa.Fit</td>
        </tr>
        <tr>
            <td><i>Стек</i></td>
            <td>Flask • MSSQL • Windows Server</td>
        </tr>
        <tr>
            <td><i>Достижения</i></td>
            <td>Поддержка работы фитнес-клуба • Админка для топ-менеджеров •
                Работа с "железом"
            </td>
        </tbody>
    </table>

    <h4><a href="https://vkusnoitochka.ru/">McDonald's IT</a> • 2017 — 2019</h4>

    <table>
        <tbody>
        <tr>
            <td><i>Сфера</i></td>
            <td>Фудтех • Бекенд для приложение ресторана McDonald's</td>
        </tr>
        <tr>
            <td><i>Стек</i></td>
            <td>Django • Celery • RabbitMQ • MySQL</td>
        </tr>
        <tr>
            <td><i>Достижения</i></td>
            <td> Админка для мобильного приложения • API для акции "Монополия" • Кассовый Плагин
            </td>
        </tbody>
    </table>



    <h4><a href="https://rbcn.mobi/">RuBeacon</a> • 2016 — 2017</h4>

    <table>
        <tbody>
        <tr>
            <td><i>Сфера</i></td>
            <td>Фудтех • Бекенд для приложений и сайтов по доставке еды</td>
        </tr>
        <tr>
            <td><i>Стек</i></td>
            <td>Google App Engine • webapp2 • python-telegram-bot</td>
        </tr>
        <tr>
            <td><i>Достижения</i></td>
            <td> Электронный документооборот • Интеграции с системами доставки • Telegram бот для заказов
            </td>
        </tbody>
    </table>




    {#    <ul>#}
    {#        <li> <strong>[Google App Engine, webapp2, Flask]</strong></li>#}
    {#        <li>Интеграции с системами доставки: Iiko, FrontPad, Mobidel <strong>[requests, xmltodict, lxml]</strong></li>#}
    {#        <li>Система электронного документооборота <strong>[Django, pydantic, openpyxl, pdfKit, docxtpl]</strong></li>#}
    {#        <li>Telegram бот для уведомлений о заказах <strong>[python-telegram-bot]</strong></li>#}
    {#        <li>Синхронизация данных из Google DataStore в BigQuery <strong>[Google ndb, BigQuery]</strong></li>#}
    {#        <li>Оптимизация трат в облаке <strong>[Google Cloud Monitoring, Google Cloud Logging, BigQuery]</strong></li>#}
    {#        <li>Менторинг коллег <strong>[Bitbucket Pull Requests]</strong></li>#}
    {#        <li>CI для проверки качества кода и деплоя <strong>[Bitbucket Pipelines, pytest, mypy, ruff]</strong></li>#}
    {#        <li>Перевод 100000 строк кода с Python 2 на Python 3 <strong>[six, mypy, Flask]</strong></li>#}
    {#    </ul>#}

{% endblock %}
