{% extends "_layouts/blank.html" %}

{% block main %}

    <div class="my-2 flex justify-between">
        <div>
            <h1>Лейбович Никита</h1>
            <ul>
                <li><b>Почта:</b> <a href="mailto:potykion@gmail.com">potykion@gmail.com</a></li>
                <li><b>Telegram:</b> <a href="https://t.me/potykion">https://t.me/potykion</a></li>
                <li><b>Github:</b> <a href="https://github.com/potykion">https://github.com/potykion</a></li>
            </ul>

            <h2>Senior Python Developer</h2>
            <ul>
                <li><strong>Навыки:</strong> Django • Flask • pytest • mypy • Google Cloud • BitBucket Pipelines</li>
                <li><strong>Open Source:</strong>
                    <a href="https://github.com/pydantic/pydantic/pull/444">pydantic#444</a> •
                    <a href="https://github.com/yc-actions/yc-sls-container-deploy/pull/427">yc-sls-container-deploy#427</a>
                    •
                    <a href="https://github.com/python/typeshed/pull/2278">typeshed#2278</a>
                </li>
                <li>
                    <strong>Мои проекты:</strong>
                    <a href="https://potyk.io/">potyk.io</a> •
                    <a href="https://github.com/potykion/jinja2xlsx">jinja2xlsx</a> •
                    <a href="https://github.com/potykion/repka">repka</a></li>
            </ul>
        </div>

        <div>
            <img src="/static/images/me.jpeg" class="w-32 ">
        </div>
    </div>

    <h2>Опыт работы</h2>
    <h3><a href="https://rbcn.mobi/">RuBeacon</a> • 2016 — 2024</h3>
    <div><i>Сфера:</i> разработка приложений и сайтов по доставке еды</div>
    <ul>
        <li>Менторинг коллег <strong>[Bitbucket Pull Requests]</strong></li>
        <li>API для мобильных приложений и сайтов <strong>[Google App Engine, webapp2, Flask]</strong></li>
        <li>Оптимизация трат в облаке <strong>[Google Cloud Monitoring, Google Cloud Logging, BigQuery]</strong></li>
        <li>Интеграции с системами доставки: Iiko, FrontPad, Mobidel <strong>[requests, xmltodict, lxml]</strong></li>
        <li>Система электронного документооборота <strong>[Django, pydantic, openpyxl, pdfKit, docxtpl]</strong></li>
        <li>Telegram бот для уведомлений о заказах <strong>[python-telegram-bot]</strong></li>
        <li>Синхронизация данных из Google DataStore в BigQuery <strong>[Google ndb, BigQuery]</strong></li>
        <li>CI для проверки качества кода и деплоя <strong>[Bitbucket Pipelines, pytest, mypy, ruff]</strong></li>
        <li>Перевод 100000 строк кода с Python 2 на Python 3 <strong>[six, mypy, Flask]</strong></li>
    </ul>
    <h3><a href="https://lins.ru/">LINS</a> • 2021 — 2023</h3>
    <div><i>Сфера:</i> ПО для медицинских учреждений для проведения КТ, МРТ, УЗИ</div>
    <ul>
        <li>Интеграции с медицинскими системами ЕРИС ЕМИАС <strong>[requests, lxml]</strong></li>
        <li>Поддержка нескольких бд, оптимизация и кеширование запросов <strong>[Django, Redis, pandas]</strong></li>
        <li>Межсерверное взаимодействие между медицинскими организациями <strong>[Django, requests]</strong></li>
    </ul>
    <h3><a href="https://mcdonalds.ru/">McDonald's IT</a> • 2017 — 2019</h3>
    <div><i>Сфера:</i> приложение ресторана McDonald's</div>
    <ul>
        <li>Админка и API для мобильного приложения <strong>[Django, Gentelella]</strong></li>
        <li>API для акции "Монополия" <strong>[Django Rest Framework, Celery, RabbitMQ, requests]</strong></li>
        <li>Плагин для кассы для сканирования QR-кодов <strong>[wxPython, PyInstaller]</strong></li>
    </ul>
{% endblock %}
