<div class="grid grid-cols-2 md:grid-cols-5 gap-1">
    {% for game in games %}
        <button onclick="modal_game_{{ game.id }}.showModal()" class="blue-border-hover-link">
            <img class="game-img"
                 src="{{ url_for('static', filename=game.img) }}">
        </button>

        <dialog id="modal_game_{{ game.id }}" class="modal">
            <div class="modal-box max-w-screen-lg">
                <h3>{{ game.title }}</h3>

                <div class="flex flex-wrap gap-1 items-center">

                    <span class="text-sm text-gray-500">{{ game.genre }}</span>
                    <span class="text-gray-300">•</span>

                    <a href="{{ game.steam }}" target="_blank" class="text-sm">
                        Steam
                    </a>

                </div>

                <div class="text-md">
                    {{ game.review | render_md | safe }}
                </div>


                <div class="modal-action ">
                    <form method="dialog">
                        <button class="btn">Закрыть</button>
                    </form>
                </div>

            </div>
        </dialog>
    {% endfor %}
</div>