{% macro edit(size=6) %}
    {% if size == 6 %}{% set size_cls = 'w-6 h-6' %}{% endif %}
    {% if size == 4 %}{% set size_cls = 'w-4 h-4' %}{% endif %}

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="{{ size_cls }}">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
    </svg>
{% endmacro %}

{% macro clone(size=6) %}
    {% if size == 6 %}{% set size_cls = 'w-6 h-6' %}{% endif %}
    {% if size == 4 %}{% set size_cls = 'w-4 h-4' %}{% endif %}

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="{{ size_cls }}">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"/>
    </svg>

{% endmacro %}


{% macro close(size=6) %}
    {% if size == 6 %}{% set size_cls = 'w-6 h-6' %}{% endif %}
    {% if size == 4 %}{% set size_cls = 'w-4 h-4' %}{% endif %}

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="{{ size_cls }}">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>
{% endmacro %}

{% macro add(size=6) %}
    {% if size == 6 %}{% set size_cls = 'w-6 h-6' %}{% endif %}
    {% if size == 4 %}{% set size_cls = 'w-4 h-4' %}{% endif %}

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="{{ size_cls }}">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
    </svg>
{% endmacro %}


{% macro done(size=6) %}
    {% if size == 6 %}{% set size_cls = 'w-6 h-6' %}{% endif %}
    {% if size == 4 %}{% set size_cls = 'w-4 h-4' %}{% endif %}

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="{{ size_cls }}">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
    </svg>

{% endmacro %}

