{% macro link(url, title, desc, tags=[], cls='') %}
    <a href="{{ url }}" class="block px-4 py-2 text-sm uni-bg no-underline uni-hover {{ cls }}">
        <div class="underline">{{ title }}</div>

        {% if desc %}
            <div class="font-normal">{{ desc }}</div>
        {% endif %}

        {% if tags %}
            <div class="flex flex-wrap gap-1">
                {% for tag in tags %}
                    <div><i>#{{ tag }}</i></div>
                {% endfor %}
            </div>
        {% endif %}
    </a>
{% endmacro %}

{% macro section_card(section) %}
    <div class="rounded-border uni-border shadow uni-bg">
        <div class="border-b uni-border px-2 ">{{ section | safe }}</div>
        <div class="">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}