{% macro link(url, title, desc, tags=[], cls='') %}
    <div class="text-sm {{ cls }}">
        <div><a href="{{ url }}">{{ title }}</a></div>

        {% if desc %}
            <div>{{ desc }}</div>
        {% endif %}

        {% if tags %}
            <div class="flex flex-wrap gap-1">
                {% for tag in tags %}
                    <div><i>#{{ tag }}</i></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro section_card(section) %}
    <div class="rounded-border dark:border-gray-700">
        <div class="border-neutral dark:border-gray-700 border-b px-2 ">{{ section | safe }}</div>
        <div class="p-4">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}