{% from '_components/link_and_section.html' import link, section_card %}

{% macro page_list(pages) %}
    <div class="link-list">
        {% for page in pages %}
            {{ link(page.url, page.title, page.desc, cls='rounded-b-lg' if loop.last else '') }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro page_sections(pages_by_section) %}
    <div class="section-list">
        {% for section,pages in pages_by_section.items() %}
            {% call section_card(section.to_str()) %}
                {{ page_list(pages) }}
            {% endcall %}
        {% endfor %}
    </div>
{% endmacro %}