{% macro page_list(pages) %}
    <div class="flex flex-col gap-2">
        {% for page in pages %}
            <div class="text-sm">
                <div><a href="{{ page.url }}">{{ page.title }}</a></div>
                <div>{{ page.desc }}</div>
            </div>
        {% endfor %}
    </div>

{% endmacro %}

{% macro page_sections(pages_by_section) %}
    <div class="flex flex-col gap-4 pt-2">
        {% for section,pages in pages_by_section.items() %}
            <div class="border border-neutral rounded-lg ">
                <div class="border-neutral border-b px-2 ">{{ section.to_str() }}</div>
                <div class="p-4">
                    {{ page_list(pages) }}

                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}