@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        @apply !mb-0
    }

    h2 {
        @apply !my-4
    }

    h3 {
        @apply !my-2
    }


    iframe {
        max-width: 100%;
        width: 100%;
        aspect-ratio: 16/9;
        @apply pb-4;
    }

    img {
        width: 100%;
        border-radius: 4px;
        @apply !my-0
    }


    code {
        background: #f3f3f3;
        padding: 2px 4px;
        border-radius: 5px;
    }

    ul {
        padding-left: 20px;
    }

    blockquote {
        margin-left: 0;
        border-left: 2px solid black;
        padding: 5px 25px;
        font-style: italic;
        background: #f8f8f8;
    }

    table {
        @apply table table-zebra table-sm !my-0
    }

    td {
        @apply !px-2
    }


    div.desc {
        @apply text-gray-400 py-1 ;
    }

    cite {
        @apply text-gray-400 py-1;

    }

    input {
        padding: 10px;
        border-radius: 10px;
    }

    @media (max-width: 1024px) {

        div.desc {
            font-size: 14px;
        }


        .hide-on-mobile {
            display: none !important;
        }

    }


}

@layer components {
    .htmx-indicator {
        display: none;
    }

    .htmx-request .htmx-indicator {
        display: inline;
    }

    .htmx-request.htmx-indicator {
        display: inline;
    }

    [x-cloak] {
        display: none !important;
    }


    .blue-border-hover-link {
        @apply rounded-lg hover:border-primary border-2 border-transparent inline-block;
    }

    input {
        @apply placeholder-neutral-500
    }

    textarea {
        @apply placeholder-neutral-500
    }

    ul.li-plus {
        list-style: none;
        padding-left: 0 !important;
    }

    ul.li-plus li:before {
        /*content: "+";*/
        content: "➕";
        margin-right: 8px;
    }

    ul.li-minus {
        list-style: none;
        padding-left: 0 !important;
    }

    ul.li-minus li:before {
        /*content: "–";*/
        content: "➖";
        margin-right: 8px;
    }

    .rounded-border {
        @apply border  rounded-lg;
    }

    .link-list {
        @apply flex flex-col ;
    }

    .section-list {
        @apply flex flex-col gap-4 pt-2;
    }

    .task-list-item-checkbox {
        @apply checkbox checkbox-sm
    }

    .p-no-mt p {
        margin-top: 0;
    }

    .uni-border {
        @apply border-neutral-300
    }

    .uni-bg-body {
        @apply bg-neutral-100;
    }

    .uni-bg {
        @apply bg-white;
    }

    .uni-hover {
        @apply hover:bg-purple-100;
    }

    @keyframes bounce-x-left {
        0%, 100% {
            transform: translateX(-5px);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: translateX(0px);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }

    .animate-bounce-x-left {
        animation: bounce-x-left 1s infinite;
    }

    @keyframes bounce-x-right {
        0%, 100% {
            transform: translateX(5px);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: translateX(0px);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }

    .animate-bounce-x-right {
        animation: bounce-x-right 1s infinite;
    }


    #telegram-login-potyk_io_bot {
        height: 80px !important;
    }

}