body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

p {
    line-height: 24px;
}

main, footer {
    padding: 8px;
}

iframe {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 16/9
}

img {
    width: 100%;
    border-radius: 4px;
}

header a {
    padding: 5px;
}

code {
    background: #f3f3f3;
    padding: 2px 4px;
    border-radius: 5px;
}

ul {
    padding-left: 20px;
}

li {
    padding: 6px;
}


a.link {
    font-weight: 600
}

blockquote {
    margin-left: 0;
    border-left: 2px solid black;
    padding: 5px 25px;
    font-style: italic;
    background: #f8f8f8;
}

table {
    width: 100%;
    border-collapse: collapse;

}

td, th {
    border: 1px solid black;
    padding: 10px;
}

div.desc {
    color: #9a9999;
    padding: 5px 0;
}

input {
    padding: 10px; border-radius: 10px;
}

@media (max-width: 1024px) {
    a.link {
        font-size: 14px;
    }

    div.desc {
        font-size: 14px;
    }

    small {
        font-size: 10px;
    }

    .hide-on-mobile {
        display: none !important;
    }

}

button.btn {
    font-weight: 600;
    padding:  10px;
    border-radius: 10px;
    color: white;
    background: rebeccapurple;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0;
}
button.btn:hover{
    background: #531f83;
}