{% extends 'templates/base.html' %}

{% from 'templates/scripts.html' import htmx, alpinejs %}
{% from 'templates/components/habits.html' import habit_table, habit_card %}
{% from 'templates/components/core.html' import select, toggle, text_input %}

{% set title='habits' %}


{% block main %}
    <div class="flex ">
        <h1 class="inline-block">Привычки v2</h1>

        <div class=" badge badge-ghost">
            {% if is_prod %}<span class="text-neutral mr-1 ">●</span> offline
            {% else %}<span class="text-success mr-1 animate-pulse">●</span> online{% endif %}

        </div>
    </div>

    <div class="flex mt-4  flex-wrap gap-2">


        <a class="btn btn-sm md:btn-md dark:btn-neutral"
           href="?hide_done={% if hide_done %}false{% else %}true{% endif %}">
            {% if hide_done %}
                🙉 Показать выполненные
            {% else %}
                🙈 Скрыть выполненные
            {% endif %}
        </a>

        <button class="btn btn-sm md:btn-md dark:btn-neutral" id="copy-template">📝 Шаблон привычек</button>
    </div>


    <h3>Закрепленные</h3>
      <div class="grid md:grid-cols-2 gap-4 py-4 ">
        {% for habit in fixed_habits %}
            {{ habit_card(habit) }}
        {% endfor %}
    </div>

    <h3>Текущие</h3>
      <div class="grid md:grid-cols-2 gap-4 py-4 ">
        {% for habit in habits %}
            {{ habit_card(habit) }}
        {% endfor %}
    </div>

    <h3>Архив</h3>
      <div class="grid md:grid-cols-2 gap-4 py-4 ">
        {% for habit in archived_habits %}
            {{ habit_card(habit) }}
        {% endfor %}
    </div>



{% endblock %}

{% block script %}
    {{ htmx() }}
    {{ alpinejs() }}

    <script>
        document.querySelector('#copy-template').addEventListener(
            'click', copyHabitTemplate
        )

        function copyHabitTemplate() {
            const habitTemplate = `{{ habit_template }}`
            navigator.clipboard.writeText(habitTemplate)
        }
    </script>



{% endblock %}