{% extends 'templates/base.html' %}

{% from 'templates/scripts.html' import htmx %}
{% from 'templates/components/habits.html' import habit_table %}
{% from 'templates/components/core.html' import select, toggle, text_input %}

{% set title='habits' %}
{% set fullwidth=True %}

{% block main %}
    <h1>Привычки</h1>

    <details class="collapse collapse-arrow bg-neutral-50 my-4  overflow-visible">
        <summary class="collapse-title text-xl font-medium flex items-center space-x-2  ">
            Сегодня
        </summary>
        <div class="collapse-content">
            <form style="display: flex; flex-direction: column; gap: 10px" id="myForm">
                {{ select('habit', 'Привычка', simple_options=habits) }}

                <label class="form-control">
                    <div class="label cursor-pointer justify-start  gap-2">
                        <span class="label-text">Статус</span>
                    </div>
                    <div class="w-full flex gap-2 p-1">
                        <span class="label-text">Сделал</span>
                        <input type="radio" name="status" value="+" class="radio " checked/>
                        <span class="label-text">Не сделал</span>
                        <input type="radio" name="status" value="-" class="radio " checked/>
                    </div>
                </label>

                {{ text_input('date', 'Дата', type='date') }}


                <div class="flex justify-end">

                    <button class="btn ">
                        Сохранить
                    </button>
                </div>
            </form>
        </div>
    </details>




    <div class="flex justify-between">
        <h2>Прогресс</h2>

        <button class="btn " hx-post="/habits/sync" hx-target="#habit_table">
            <span class="loading loading-spinner loading-xs htmx-indicator"></span>
            Синхронизировать
        </button>
    </div>

    <div class="overflow-auto" id="habit_table">
        {{ habit_table(habits, habit_statuses) }}
    </div>


{% endblock %}

{% block script %}
    {{ htmx() }}

    <script>
        const myForm = document.getElementById("myForm"); // Replace with your form's ID

        myForm.addEventListener("submit", function (event) {
            // Prevent default form submission
            event.preventDefault();

            const formData = new FormData(event.target); // Use FormData for complex forms

            for (const [key, value] of formData.entries()) {
                console.log(key, ":", value);
            }

        });
    </script>
{% endblock %}