{% extends 'templates/base.html' %}

{% from 'templates/scripts.html' import htmx %}
{% from 'templates/components/habits.html' import habit_table %}

{% set title='habits' %}
{% set fullwidth=True %}

{% block main %}
    <h1>Привычки</h1>

    <div class="flex justify-end">
        <button class="btn " hx-post="/habits/sync" hx-target="#habit_table">
            <span class="loading loading-spinner loading-xs htmx-indicator"></span>
            Синхронизировать
        </button>
    </div>

    <div class="overflow-auto" id="habit_table">
        {{ habit_table(habits, habit_statuses) }}
    </div>

    <h2>Сегодня</h2>

{% endblock %}

{% block script %}
    {{ htmx() }}
{% endblock %}