{% extends "_layouts/base.html" %}

{% from '_components/page_list.html' import page_list, page_sections %}
{% from '_components/link_and_section.html' import link, section_card %}
{% from "_components/scripts.html" import htmx %}

{% block main %}
    <div class="flex flex-col gap-4 ">
        {% if events %}
            {% call section_card('Планы') %}
                {% for event in events %}
                    {{ link(event.url, event.title_w_date, event.desc) }}
                {% endfor %}
            {% endcall %}
        {% endif %}
    </div>


    <div class="grid md:grid-cols-3 gap-2 md:gap-4">
        {% for feed_card in feed_items %}
            {% include '_components/feed_card.html' %}
        {% endfor %}

        <div class="flex justify-center mt-4 md:col-span-3" hx-target="this" hx-get="/feed/1.html" hx-swap="outerHTML">
            <button class="btn btn-primary btn-wide ">Загрузить еще</button>
        </div>
    </div>

    <div class="border uni-border mt-6"></div>

    <h2 class="text-center !py-0 border-neutral dark:border-gray-700 ">Разделы</h2>


    <div class="flex flex-col gap-4 ">
        {{ page_sections(pages_by_section) }}
    </div>

    {{ htmx() }}

    <script>


        let cites = [
            'Занимаюсь х⁁йней онлайн с 2020 г',
            'Занимаюсь х⁁йней с 1996 г',
            'Ит ис вот ит ис',
            'Блог по настроению',
            'Блог из-под палки',
            'Подпишись на телегу',
            'Делаю свой интернет',
            'autistic digital garden',
            'Едулечка, пивчик, прожка, киношка, музончик, бабосик, книжки, игрушки',
        ];


        const citeElement = document.querySelector('body > main > cite');

        citeElement.innerHTML = cites[Math.floor(Math.random() * cites.length)];

    </script>

{% endblock %}