{% extends "_layouts/base.html" %}

{% from '_components/page_list.html' import page_list, page_sections %}
{% from '_components/link_and_section.html' import link, section_card %}
{% from '_components/feed_card.html' import feed_card %}

{% block main %}
    <div class="flex flex-col gap-4 ">
        {% if events %}
            {% call section_card('Планы') %}
                {% for event in events %}
                    {{ link(event.url, event.title_w_date, event.desc) }}
                {% endfor %}
            {% endcall %}
        {% endif %}
    </div>

    {% if not config.is_prod %}
        <div class="h-4"></div>

        <div class="grid md:grid-cols-3 gap-4">
            {% for feed_item in feed_items %}
                {{ feed_card(**feed_item) }}
            {% endfor %}
        </div>
        <div class="flex justify-center mt-4">
            <button class="btn btn-primary btn-wide">Загрузить еще</button>
        </div>

        <hr>
        <h2 class="text-center !mt-0 !py-0 border-neutral dark:border-gray-700 ">Разделы</h2>
    {% endif %}


    <div class="flex flex-col gap-4 ">
        {{ page_sections(pages_by_section) }}
    </div>
{% endblock %}
