{% extends "templates/base.html" %}
{% set title = 'Домашняя' %}
{% set desc = 'блог по настроению • свалка мыслей, пет проджекты, обзоры на всё и вся • v4' %}

{% from "templates/components/sections.html" import link_section,page_section %}

{% block main %}

    <div class="flex justify-between mb-2">
        <a href="/feed/2024-03-28" class="btn btn-square btn-ghost btn-sm md:btn-md">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
            </svg>
        </a>
        <div class="btn btn-ghost btn-sm md:btn-md">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"/>

            </svg>

            {{ feed_date or today_date }}

        </div>
        <a href="/feed/2024-03-30" class=" btn btn-square btn-ghost btn-sm md:btn-md">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
            </svg>
        </a>
    </div>

    <div class="hidden text-white dark:block ">
        брах, пока без темной темы
    </div>

    <div class="grid md:grid-cols-3 gap-2">


        <div class="rounded-xl shadow  border-neutral border flex-col flex row-span-1 text-neutral ">
            <div class="font-semibold text-center border-b border-neutral">Мысли</div>
            <div class="p-4 text-sm">
                Зачем вообще фид? Идея проста - прожитый день как-то материализовать (хотя скорее виртуализировать).
                Идея перенести себя в иной мир, в мир фантазий, в мир интернета, ведь любое творчество живёт отдельно от
                автора, и все что в интернете редко похоже на реальность, в интернете все так преувеличено, не
                естественно. Мои дни будут не просто протекать впустую, а превращаться в проекцию, которую каждый будет
                читать по-своему, то есть прикинь не просто комп-телик-кровать, а творчество, художественное оформление!

            </div>
        </div>

        <div class="rounded-xl shadow  border-neutral border flex-col flex row-span-3 text-neutral">
            <div class="font-semibold text-center italic  ">#pizdalupasit</div>

            <iframe height="500" src="https://www.youtube.com/embed/Uivp-hvk-nk?si=A47fXstiPAR_3HBA"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="font-semibold text-center border-y border-neutral ">
                Venjent — Open the Door
            </div>
            <div class=" text-sm font-normal p-2">
                Чел семплирует бытовые звучки с драмчиком - индастриал днб получается 🤔
            </div>

        </div>


        <a href="/stuff/recipes/pasta-salmon"
           class="no-underline border-neutral border hover:bg-neutral-50 rounded-xl row-span-2 shadow ">

            <div class="font-semibold text-center border-b border-neutral ">Рецепт дня</div>
            <img class="p-2"
                 src="{{ url_for('static', filename='images/food/pasta-salmon.png') }}">
            <div class="font-semibold text-center border-y border-neutral ">
                Спагетти с лососем в сливочном соусе
            </div>
            <div class=" text-sm font-normal p-2">
                Эх, рецептики - самое легкое, что можно в блог закидывать, уже несколько раз это топ пасту делал, а все
                не записал в рецы - пора бы
            </div>
        </a>


        <a href="https://www.tinkoff.ru/invest/help/situation/844/"
           class="rounded-xl shadow  border-neutral border flex-col no-underline hover:bg-neutral-50 flex row-span-2 text-neutral ">
            <div class="font-semibold text-center  border-neutral border-b ">Новости финансов</div>
            <img class="p-2"
                 src="{{ url_for('static', filename='images/feed/tink-sell-blocked.png') }}">

            <div class=" text-sm font-normal p-2">
                Ооо наконец-то можно потихоньку продавать финекс за нормальный прайс урааа
            </div>
        </a>

        <div class="rounded-xl shadow  border-neutral border flex-col flex row-span-2 text-neutral ">
            <div class="font-semibold text-center  border-neutral border-b ">Рабочий момент</div>
            <div class=" text-sm font-normal p-2">
                Мда, как же все сломано на работке, а в предрелизье - так тем более: инфра деплой не может починить,
                тимлид проебывается со встречами, тестирование ебет мозги, а ПМ в облаках витает, и все это
                сопровождается лютым сумбуром - ахуенно #воттакоевотайти #всемьевседолжнобытьпоровну
            </div>
        </div>


        <a href="{{ beer.untappd_url }}"
           class="no-underline border-neutral border hover:bg-neutral-50 rounded-xl row-span-3    shadow ">

            <div class="font-semibold text-center  border-neutral  ">Рекомендую пивас</div>
            <div class="border-y border-neutral flex justify-center">
                <img class="w-20 p-2 "
                     src="{{ url_for('static', filename=beer.img) }}">
            </div>
            <div class="font-semibold text-center border-b border-neutral ">{{ beer.title }}
            </div>


            <div class=" text-sm font-normal p-2">{{ beer.review }}
            </div>
        </a>


    </div>



    <div class="flex items-center gap-4 py-2">
        <div class="flex-1 h-[1px] bg-neutral-300 w-full inline-block"></div>
        <h2 class=" inline-block text-center">штучки</h2>
        <div class="flex-1 h-[1px] bg-neutral-300 w-full inline-block"></div>
    </div>

    <div class="grid  md:grid-cols-3 gap-2">

        <a class="btn w-full  btn-outline " href="/stuff/recipes">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25"/>
            </svg>
            Рецепты
        </a>
        <a class="btn w-full  btn-outline " href="/stuff/recipes">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
            </svg>

            Тудушки
        </a>
        <a class="btn w-full  btn-outline " href="/stuff/recipes">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"/>
            </svg>


            Привычки
        </a>
    </div>


{% endblock %}