{% extends "templates/feed/feed_base.html" %}
{% set title = 'Домашняя' %}
{% set desc = 'блог по настроению • свалка мыслей, пет проджекты, обзоры на всё и вся • v4' %}

{% from "templates/components/sections.html" import link_section,page_section %}
{% from 'templates/feed/feed_card.html' import feed_card %}

{% block main %}
    {{ super() }}

    <div class="grid md:grid-cols-3 gap-2">
        {% for feed_item in feed_items %}
            {{ feed_card(**feed_item) }}
        {% endfor %}
    </div>
{% endblock %}