{% extends 'templates/base.html' %}

{% from 'templates/components/todo-task.html' import todo_task %}
{% from 'templates/components/icons.html' import chevron_down %}

{% set title='todo' %}

{% block main %}
    <h1>Задачки</h1>

    <div class="collapse collapse-arrow bg-neutral-50 my-4">
        <input type="checkbox"/>
        <div class="collapse-title text-xl font-medium flex items-center space-x-2  " >
            <span>Создание таски</span>
        </div>
        <div class="collapse-content">
            <form style="display: flex; flex-direction: column; gap: 10px" hx-post="/todo" hx-target="ul"
                  hx-swap="afterbegin" hx-on::after-request="this.reset()">
                <div style="display: flex; flex-direction: column">
                    <div>
                        <label for="title" style="font-weight: 600; margin-bottom: 4px; ">
                            Название
                        </label>
                    </div>

                    <input id="title" required name="title" class="input input-bordered ">
                </div>

                <div style="display: flex; justify-content: end">
                    <button class="btn btn-primary" type="submit">
                        Создать
                    </button>
                </div>
            </form>
        </div>
    </div>




    <div style="display: flex; justify-content: end">
        {% if hide_done %}
            <a href="/stuff/todo?hide_done=false" class="btn btn-sm">🙉 Показать выполненные</a>
        {% else %}
            <a href="/stuff/todo?hide_done=true" class="btn btn-sm" type="button">🙈 Скрыть выполненные</a>
        {% endif %}
    </div>

    <ul style="list-style: none; padding-left: 0">
        {% for task in tasks %}
            {{ todo_task(task) }}
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>

{% endblock %}