{% extends "_layouts/base.html" %}

{% from '_components/page_list.html' import page_list, page_sections %}
{% from "_components/scripts.html" import alpinejs %}
{% from '_components/link_and_section.html' import link, section_card %}



{% block main %}

    <div x-data="recipes">
        <div class="flex flex-wrap gap-2">
            <template x-for="tag in tags">
                <button @click="selectTag(tag)" class="btn btn-sm " :class="[tag.selected?'btn-primary':'btn-neutral' ]"   x-text="tag.tag"></button>
            </template>
        </div>

        <input type="search" class="input my-4 input-bordered w-full " placeholder="Поиск" x-model="searchQ"/>


        <div class="link-list ">
            <template x-for="recipe in recipes">
                <a :href="recipe.url" class="block px-4 py-2 text-sm uni-bg no-underline uni-hover">
                    <div class="underline" x-html="recipe.title"></div>
                    <div class="font-normal" x-html="recipe.desc"></div>

                    <div class="flex flex-wrap gap-1">
                        <template x-for="tag in recipe.tags">
                            <div><i x-text="'#' + tag"></i></div>
                        </template>
                    </div>

                </a>

            </template>

        </div>
    </div>

    {{ alpinejs() }}


    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('recipes', () => ({
                tags: {{ tags | tojson }}.map((tag) => ({tag, selected: false})),
                _recipes: {{ recipes | tojson }},
                searchQ: '',
                get recipes() {
                    return this._recipes
                        .filter(rec => !this.selectedTags.length || rec.tags.some(tag => this.selectedTags.includes(tag)))
                        .filter(rec => !this.searchQ ||
                            rec.title.toLowerCase().includes(this.searchQ.toLowerCase()) ||
                            rec.desc.toLowerCase().includes(this.searchQ.toLowerCase()));
                },
                get selectedTags() {
                    return this.tags.filter(tag => tag.selected).map(tag => tag.tag)
                },

                selectTag(tag) {
                    console.log('bla')
                    tag.selected = !tag.selected;
                },


            }))


        })

    </script>
{% endblock %}
