{% extends "_layouts/base.html" %}

{% from '_components/page_list.html' import page_list, page_sections %}
{% from '_components/form.html' import input, htmx_form %}
{% from "_components/scripts.html" import htmx %}

{% block main %}
    {% call htmx_form(form) %}
        <h2 class="!mb-0">Название</h2>

        {{ input(form.title) }}
        {{ input(form.desc) }}
        {{ input(form.file_slug) }}
        {{ input(form.section) }}

        <h2 class="!mb-0">Приготовление</h2>
        {{ input(form.cooking_youtube) }}
        {{ input(form.cooking_link) }}
        {{ input(form.cooking_md) }}
        {{ input(form.cooking_make_list) }}

        <h2 class="!mb-0">Ингредиенты</h2>
        {{ input(form.ingredients_md) }}
        <div class="flex">
            {{ input(form.ingredients_make_list) }}
            {{ input(form.ingredients_remove_brackets) }}
        </div>
    {% endcall %}

    {{ htmx() }}
{% endblock %}
