{% macro feed_card(category, image=None, image_width=0, image_padding=0, title=None, audio=None, desc=None, desc_padding=0, row_span=1, url=None) %}

    <{% if url %}a href="{{ url }}"{% else %}div{% endif %} class="no-underline rounded-xl shadow  border-neutral border flex-col flex

     {% if row_span == 1 %}row-span-1
     {% elif row_span == 2 %}row-span-2
     {% elif row_span == 3 %}row-span-3
     {% else %}row-span-1{% endif %}

     text-neutral">
        <div class="font-semibold text-center  border-neutral">{{ category }}</div>

        {% if image %}
            <div class=" flex justify-center border-t border-neutral">
                <img class="rounded-none  {% if image_width == 20 %}w-20{% endif %} {% if image_padding == 2 %}p-2{% elif image_padding == 4 %}p-4{% endif %}"
                     src="{{ image }}">
            </div>
        {% endif %}

        {% if title %}
            <div class="flex flex-col justify-center ">

                <div class="font-semibold text-center border-neutral border-t ">{{ title }}</div>

                {% if audio %}
                    <audio controls class="w-full border-neutral border-t  "
                           src="{{ audio }}"></audio>
                {% endif %}
            </div>
        {% endif %}

        {% if desc %}
            <div class=" text-sm font-normal {% if desc_padding == 4 %}p-4{% else %}p-2{% endif %} border-t border-neutral ">
                {{ desc }}
            </div>
        {% endif %}

        </{% if url %}a{% else %}div{% endif %}>
{% endmacro %}