

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- region SEO -->
    <title></title>
    <meta name="description" content=""/>

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <!-- endregion SEO -->

    <!-- region Styles -->

    <!-- region Noto Sans Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <!-- endregion Noto Sans Font -->

    <!-- region Tailwind Compiled Styles -->
    <link rel="stylesheet" type="text/css" href="/static/output.css">
    <!-- endregion Tailwind Compiled Styles -->

    <!-- region Custom styles -->
    
    <!-- endregion Custom styles -->

    <!-- endregion Styles -->
</head>

<!-- region GA & YaMetrika -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5WTE0KE6PT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-5WTE0KE6PT');
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) {
                if (document.scripts[j].src === r) {
                    return;
                }
            }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(82960681, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/82960681" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

<!-- endregion GA & YaMetrika -->

<body class="max-w-[1000px]">

<header class="text-sm breadcrumbs border-neutral border-b">
    <ul class="!pl-2">
        
            
                <li>
                    
                        <a href="/">п⌀тик.ио</a>
                    
                </li>
            
                <li>
                    
                        <a href="/tools">Тулзы</a>
                    
                </li>
            
                <li>
                    
                        Rewardy
                    
                </li>
            
        


    </ul>
</header>

<main class="prose  max-w-none p-2">
    
        <h1>Rewardy</h1>
        <cite class="block">Пробую вознаграждать себя правильно</cite>
    

    


    <form class="flex items-end gap-2" hx-post="/tools/rewardy" hx-target="next .tasks"
          hx-on::after-request="if(event.detail.successful) this.reset()">

        <label class="form-control w-full">
            <div class="label">
                <span class="label-text ">
                    Задача
                </span>
            </div>

            <input class="input input-sm border-neutral w-full" name="title" placeholder="Сделать таску">
        </label>


        <label class="form-control">
            <div class="label">
                <span class="label-text ">
                    Награда (минуты)
                </span>
            </div>

            <input class="input input-sm border-neutral " name="reward" type="number"
                   value="1" placeholder="1" min="0.5" step="0.5">
        </label>

        <button class="btn btn-circle btn-sm" name="action" value="create-task">
            
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
    </svg>

        </button>
    </form>

    <div class="tasks pt-2">
        

<div class="flex flex-col gap-2">
    
        

<form class="flex gap-2 items-center task text-sm w-full">
    <input type="checkbox" class="checkbox checkbox-sm" hx-post="/tools/rewardy/19/toggle"
           hx-target="closest .tasks" name="done" >

    
        

        <div class="grow  cursor-pointer"
             hx-get="/tools/rewardy/19/edit"
             hx-target="closest .task"
             hx-trigger="click"
        >
            агора: вывод код налога в голанд
        </div>
        <div>
            1.0 m
        </div>

        <button class="btn btn-sm btn-circle" hx-get="/tools/rewardy/19/edit"
                hx-target="closest .task">
            
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
    </svg>

        </button>
    

    <button class="btn btn-sm btn-circle" hx-post="/tools/rewardy/19/clone"
            hx-target="closest .tasks">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"/>
    </svg>


    </button>

    <button class="btn btn-sm btn-circle" hx-delete="/tools/rewardy/19" hx-swap="delete"
            hx-target="closest .task">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>

    </button>
</form>
    
        

<form class="flex gap-2 items-center task text-sm w-full">
    <input type="checkbox" class="checkbox checkbox-sm" hx-post="/tools/rewardy/24/toggle"
           hx-target="closest .tasks" name="done" checked>

    
        

        <div class="grow line-through cursor-pointer"
             hx-get="/tools/rewardy/24/edit"
             hx-target="closest .task"
             hx-trigger="click"
        >
            агора: проставление кода налога в auction-bet
        </div>
        <div>
            0.5 m
        </div>

        <button class="btn btn-sm btn-circle" hx-get="/tools/rewardy/24/edit"
                hx-target="closest .task">
            
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
    </svg>

        </button>
    

    <button class="btn btn-sm btn-circle" hx-post="/tools/rewardy/24/clone"
            hx-target="closest .tasks">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"/>
    </svg>


    </button>

    <button class="btn btn-sm btn-circle" hx-delete="/tools/rewardy/24" hx-swap="delete"
            hx-target="closest .task">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>

    </button>
</form>
    
        

<form class="flex gap-2 items-center task text-sm w-full">
    <input type="checkbox" class="checkbox checkbox-sm" hx-post="/tools/rewardy/25/toggle"
           hx-target="closest .tasks" name="done" checked>

    
        

        <div class="grow line-through cursor-pointer"
             hx-get="/tools/rewardy/25/edit"
             hx-target="closest .task"
             hx-trigger="click"
        >
            аг: выставление кода налога в предложениях
        </div>
        <div>
            0.5 m
        </div>

        <button class="btn btn-sm btn-circle" hx-get="/tools/rewardy/25/edit"
                hx-target="closest .task">
            
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
    </svg>

        </button>
    

    <button class="btn btn-sm btn-circle" hx-post="/tools/rewardy/25/clone"
            hx-target="closest .tasks">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"/>
    </svg>


    </button>

    <button class="btn btn-sm btn-circle" hx-delete="/tools/rewardy/25" hx-swap="delete"
            hx-target="closest .task">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>

    </button>
</form>
    
        

<form class="flex gap-2 items-center task text-sm w-full">
    <input type="checkbox" class="checkbox checkbox-sm" hx-post="/tools/rewardy/26/toggle"
           hx-target="closest .tasks" name="done" checked>

    
        

        <div class="grow line-through cursor-pointer"
             hx-get="/tools/rewardy/26/edit"
             hx-target="closest .task"
             hx-trigger="click"
        >
            лигалс пиздеж
        </div>
        <div>
            0.5 m
        </div>

        <button class="btn btn-sm btn-circle" hx-get="/tools/rewardy/26/edit"
                hx-target="closest .task">
            
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
    </svg>

        </button>
    

    <button class="btn btn-sm btn-circle" hx-post="/tools/rewardy/26/clone"
            hx-target="closest .tasks">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"/>
    </svg>


    </button>

    <button class="btn btn-sm btn-circle" hx-delete="/tools/rewardy/26" hx-swap="delete"
            hx-target="closest .task">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>

    </button>
</form>
    
        

<form class="flex gap-2 items-center task text-sm w-full">
    <input type="checkbox" class="checkbox checkbox-sm" hx-post="/tools/rewardy/27/toggle"
           hx-target="closest .tasks" name="done" checked>

    
        

        <div class="grow line-through cursor-pointer"
             hx-get="/tools/rewardy/27/edit"
             hx-target="closest .task"
             hx-trigger="click"
        >
            аг: выставление парамс в предложениях
        </div>
        <div>
            0.5 m
        </div>

        <button class="btn btn-sm btn-circle" hx-get="/tools/rewardy/27/edit"
                hx-target="closest .task">
            
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
    </svg>

        </button>
    

    <button class="btn btn-sm btn-circle" hx-post="/tools/rewardy/27/clone"
            hx-target="closest .tasks">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"/>
    </svg>


    </button>

    <button class="btn btn-sm btn-circle" hx-delete="/tools/rewardy/27" hx-swap="delete"
            hx-target="closest .task">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>

    </button>
</form>
    
        

<form class="flex gap-2 items-center task text-sm w-full">
    <input type="checkbox" class="checkbox checkbox-sm" hx-post="/tools/rewardy/28/toggle"
           hx-target="closest .tasks" name="done" checked>

    
        

        <div class="grow line-through cursor-pointer"
             hx-get="/tools/rewardy/28/edit"
             hx-target="closest .task"
             hx-trigger="click"
        >
            аг: выставление парамс в предложениях ресерч
        </div>
        <div>
            0.5 m
        </div>

        <button class="btn btn-sm btn-circle" hx-get="/tools/rewardy/28/edit"
                hx-target="closest .task">
            
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
    </svg>

        </button>
    

    <button class="btn btn-sm btn-circle" hx-post="/tools/rewardy/28/clone"
            hx-target="closest .tasks">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"/>
    </svg>


    </button>

    <button class="btn btn-sm btn-circle" hx-delete="/tools/rewardy/28" hx-swap="delete"
            hx-target="closest .task">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>

    </button>
</form>
    
        

<form class="flex gap-2 items-center task text-sm w-full">
    <input type="checkbox" class="checkbox checkbox-sm" hx-post="/tools/rewardy/29/toggle"
           hx-target="closest .tasks" name="done" checked>

    
        

        <div class="grow line-through cursor-pointer"
             hx-get="/tools/rewardy/29/edit"
             hx-target="closest .task"
             hx-trigger="click"
        >
            рустор
        </div>
        <div>
            0.5 m
        </div>

        <button class="btn btn-sm btn-circle" hx-get="/tools/rewardy/29/edit"
                hx-target="closest .task">
            
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
    </svg>

        </button>
    

    <button class="btn btn-sm btn-circle" hx-post="/tools/rewardy/29/clone"
            hx-target="closest .tasks">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"/>
    </svg>


    </button>

    <button class="btn btn-sm btn-circle" hx-delete="/tools/rewardy/29" hx-swap="delete"
            hx-target="closest .task">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>

    </button>
</form>
    
        

<form class="flex gap-2 items-center task text-sm w-full">
    <input type="checkbox" class="checkbox checkbox-sm" hx-post="/tools/rewardy/30/toggle"
           hx-target="closest .tasks" name="done" checked>

    
        

        <div class="grow line-through cursor-pointer"
             hx-get="/tools/rewardy/30/edit"
             hx-target="closest .task"
             hx-trigger="click"
        >
            аг: некст этап
        </div>
        <div>
            1.0 m
        </div>

        <button class="btn btn-sm btn-circle" hx-get="/tools/rewardy/30/edit"
                hx-target="closest .task">
            
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
    </svg>

        </button>
    

    <button class="btn btn-sm btn-circle" hx-post="/tools/rewardy/30/clone"
            hx-target="closest .tasks">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"/>
    </svg>


    </button>

    <button class="btn btn-sm btn-circle" hx-delete="/tools/rewardy/30" hx-swap="delete"
            hx-target="closest .task">
        
    
    

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
    </svg>

    </button>
</form>
    
</div>
    </div>

    
    <script src="/static/js/htmx.min.js"></script>



</main>

<footer class="prose max-w-none border-t border-neutral mt-4 p-2">
    <div class="flex justify-end gap-2 text-sm">
        <a href="https://t.me/potyk_forever">[канал]</a> •
        <a href="https://t.me/potykion">[автор]</a>
    </div>
</footer>

</body>



</html>