{% extends 'templates/base.html' %}
{% set title = 'База пива' %}
{% set desc = 'Собираю бутылочки и цены на них' %}
{% from "templates/components/beer.html" import beer_list %}

{% block main %}
    {{ beer_list(beers, stores) }}


    <div class="collapse collapse-arrow bg-neutral-50 dark:bg-neutral-700 my-4">
        <input type="checkbox"/>
        <div class="collapse-title text-xl font-medium flex items-center space-x-2  ">
            <span>Credits</span>
        </div>
        <div class="collapse-content">
            <h3>Качественные картинки пива</h3>
            <ul>
                <li>
                    <a href="https://www.lauterbacher.de/">https://www.lauterbacher.de/</a>
                </li>
                <li>
                    <a href="https://merchantduvin.com/">https://merchantduvin.com/</a>
                </li>
                <li>
                    <a href="https://schneider-weisse.de/">https://schneider-weisse.de/</a>

                </li>
                <li>
                    <a href="https://kurpfalzbraeu.de/">https://kurpfalzbraeu.de/</a>

                </li>
                <li>
                    <a href="https://www.belgianbeerfactory.com/">https://www.belgianbeerfactory.com/</a>

                </li>
                <li>
                    <a href="https://bishopscellar.com/">https://bishopscellar.com/</a>

                </li>  <li>
                    <a href="https://winestyle.ru/">https://winestyle.ru/</a>

                </li> <li>
                    <a href="https://jawsbeer.ru/beer">https://jawsbeer.ru/beer</a>

                </li><li>
                    <a href="https://stepiveter.ru/">https://stepiveter.ru/</a>

                </li><li>
                    <a href="https://rusbeershop.ru/">https://rusbeershop.ru/</a>

                </li>
            </ul>
        </div>
    </div>

{% endblock main %}