{% extends 'templates/base.html' %}
{% set title = 'Чтение как дело  ' %}
{% block main %}
<h1>Чтение как дело </h1>
<cite>2024-01-28 14:10</cite>

<p>О, а букмейт хорош, нравится интерфейс. А ЛитРес отдает Одноклассниками, как интерфейс, так и содержимое</p>
<p>Ещё не нравится читать с телефона. Есть так много всего интересного в телефоне (ебучие пустые скроллинги соцсетей, которыми ты заполняешь свою скучную жизнь), а тебе приходится читать, и ещё не всегда что-то интересное.</p>
<p>То же самое касается и компа, зачем работать если можно тупа сидеть смотреть хуйню на ют.</p>
<p>Есть мысля читать с Айпада, но есть и страх что сорвусь и наставлю себе на Айпад приложений и это превратиться в телефон, и я снова не буду читать</p>
<p>А зачем читать, а вот почитай (лол) заметку про полезные книги выше (я хочу читать художественные книги, потому что они фантазию заставляют работать)</p>
{% endblock %}