a {
    text-decoration: underline;
}

a.md-tabs__link {
    text-decoration: none;
}

.md-nav__link, .md-nav__link > a, .md-footer__link {
    text-decoration: none;
}


.grid-2d {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

@media (max-width: 700px) {

    .grid-2d {
        grid-template-columns: 100%;
    }
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card:hover {
    background: #f0f7ff;
}

.card .card-icon {
    font-size: 36px;
}